<div class="services-nav">
	<!-- <div class="wrapper">
		<div class="row">
			<p class="title__custom brand__title">Ремонтируем устройства таких производителей как:</p>
		</div>
	</div>
	<div class="brand__wrapper">
		<div class="brand__card">
			<img class="brand__card__img" src="/assets/images/logo-brand/samsung_repair.png"
				alt="Ремонт телефонов, планшетов Samsung" title="Ремонт телефонов, планшетов Samsung">
			<p class="barnd__card__title">
				Ремонт телефонов, планшетов Samsung
			</p>
		</div>
	</div> -->
	<div class="wrapper__full">
		<div class="row">
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/xiaomi_repair.png"
						alt="Ремонт телефонов, планшетов Xiaomi" title="Ремонт телефонов, планшетов Xiaomi">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Xiaomi</p>
			</div>
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/samsung_repair.png"
						alt="Ремонт телефонов, планшетов Samsung" title="Ремонт телефонов, планшетов Samsung">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Samsung</p>
			</div>
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/apple_repair.png"
						alt="Ремонт телефонов, планшетов Apple" title="Ремонт телефонов, планшетов Apple">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Apple</p>
			</div>
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/huawei_repair.png"
						alt="Ремонт телефонов, планшетов Huawei" title="Ремонт телефонов, планшетов Huawei">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Huawei</p>
			</div>
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/nokia_repair.png"
						alt="Ремонт телефонов, планшетов Nokia" title="Ремонт телефонов, планшетов Nokia">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Nokia</p>
			</div>
			<div class="brand__card">
				<div class="brand__card__img">
					<img class="brand__card__img" src="/assets/images/logo-brand/zte_repair.png"
						alt="Ремонт телефонов, планшетов Zte" title="Ремонт телефонов, планшетов Zte">
				</div>
				<p class="brand__card__title">Ремонт телефонов, планшетов Zte</p>
			</div>
		</div>
	</div>
</div>