<section class="breakdowns">
	<div class="wrapper">
		<div class="row">
			<div class="breakdowns__col">
				<h3 class="title__custom breakdowns__title">Наиболее частые причины обращения</h3>
				<div class="breakdowns__items">
					<div class="breakdowns__items__diagram diagram-1">
						<span class="diagram__text">Замена дисплея</span>
						<span class="diagram__percent">55%</span>
					</div>
					<div class="breakdowns__items__diagram diagram-2">
						<span class="diagram__text">Замена аккумулятора</span>
						<span class="diagram__percent">15%</span>
					</div>
					<div class="breakdowns__items__diagram diagram-3">
						<span class="diagram__text">Замена разъема питания</span>
						<span class="diagram__percent">15%</span>
					</div>
					<div class="breakdowns__items__diagram diagram-4">
						<span class="diagram__text">Восстановление платы</span>
						<span class="diagram__percent">10%</span>
					</div>
					<div class="breakdowns__items__diagram diagram-5">
						<span class="diagram__text">Прочие поломки</span>
						<span class="diagram__percent">5%</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>