<header>
	<div class="header__nav" id="navbar">
		<div class="progress-container">
			<div class="progress-bar" id="myBar"></div>
		</div>
		<div class="wrapper">
			<div class="row">
				<div class="header__info">
					<a href="tel:+1234567890" class="header__info__items"><i class="fa fa-phone"></i><span><small>Для
								связи</small><br><strong>+375(29)111-22-33</strong></span>
					</a>
					<div class="header__info__items">
						<i class="fa fa-clock-o"></i>
						<span><small>Время
								работы</small><br><strong>Пн
								-Сб: 11.00 - 20.00</strong></span>
					</div>
				</div>
				<nav class="mobile__menu">
					<button class="burger-menu__button">
						<span class="burger-menu__lines"></span>
					</button>
					<div class="burger-menu__overlay"></div>
					<div class="logo__wrap">
						<a href="#">
							<img src="./assets/images/icon/logo.svg" alt="RadioBazar" title='RadioBazar'>
							<p><span>R</span>adio<span>B</span>azar</p>
						</a>
					</div>
					<div class="nav">
						<a href="#" class="nav__item">Главная</a>
						<a href="#" class="nav__item">Услуги</a>
						<a href="#" class="nav__item">Магазин</a>
						<a href="#" class="nav__item">Новости</a>
						<a href="#" class="nav__item">Контакты</a>
					</div>
				</nav>
			</div>
		</div>
	</div>


	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-1"
				style="background-image:  url(assets/images/phone/Galaxy-S10-HD-1.jpg);">
				<div class="wrapper">
					<div class="row">
						<div class="header__swiper__items">
							<h2>Повседневная практика показывает, что высокотехнологичная концепция общественной системы
								способствует</h2>
							<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
								соответствующей насущным потребностям. Повседневная практика показывает, что курс на
								социально-ориентированный национальный проект способствует подготовке и реализации
								прогресса
								профессионального общества.</p>
							<a href="tel:+1234567890" class="btn header__btn"><span>Позванить</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide swiper-slide-2"
				style="background-image:  url(assets/images/background/woman-1.jpg);">
				<div class="wrapper">
					<div class="row">
						<div class="header__swiper__items">
							<h2>Скидки, много скидок, АХУЕТЬ как много скидок</h2>
							<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
								соответствующей насущным потребностям. Повседневная практика показывает, что курс на
								социально-ориентированный национальный проект способствует подготовке и реализации
								прогресса
								профессионального общества.</p>
							<a href="tel:+1234567890" class="btn header__btn"><span>Позванить</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide swiper-slide-3"
				style="background-image:  url(assets/images/background/gift-1.jpg);">
				<div class="wrapper">
					<div class="row">
						<div class="header__swiper__items">
							<h2>Делаем подарки, дешовые и низкого качества</h2>
							<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
								соответствующей насущным потребностям. Повседневная практика показывает, что курс на
								социально-ориентированный национальный проект способствует подготовке и реализации
								прогресса
								профессионального общества.</p>
							<a href="tel:+1234567890" class="btn header__btn"><span>Позванить</span></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</header>