<header class="header" id="up">
	<div class="header__nav" id="navbar">

		<div class="wrapper">
			<div class="row">
				<div class="header__info">
					<a href="tel:+000000000000" class="header__info__items"><i class="icon__svg">
							<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
								<path d="M0 0h48v48H0z" fill="none" />
								<path
									d="M13.25 21.59a30.12 30.12 0 0013.18 13.17l4.4-4.41a2 2 0 012.03-.49C35.1 30.6 37.51 31 40 31a2 2 0 012 2v7a2 2 0 01-2 2A34 34 0 016 8a2 2 0 012-2h7a2 2 0 012 2c0 2.49.4 4.9 1.14 7.14a2 2 0 01-.49 2.03l-4.4 4.42z" />
							</svg>
						</i><span><small>Для
								связи</small><br><strong>+000(00)000-00-00</strong></span>
					</a>
					<div class="header__info__items">
						<i class="icon__svg">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.55 320.55">
								<path
									d="M160.27 0C71.77 0 0 71.76 0 160.27s71.76 160.27 160.27 160.27 160.27-71.75 160.27-160.27S248.78 0 160.27 0zm0 307.69c-81.29 0-147.42-66.14-147.42-147.42S79 12.85 160.27 12.85c81.28 0 147.42 66.13 147.42 147.42 0 81.28-66.14 147.41-147.42 147.41zm83.56-77.1a9.64 9.64 0 01-13.63 13.64L161.97 176c-.5.05-.97.15-1.48.15a15.67 15.67 0 01-15.67-15.67c0-5 2.38-9.4 6.02-12.26V72.97a9.64 9.64 0 0119.3 0v75.25a15.59 15.59 0 016.02 12.26c0 .76-.12 1.48-.22 2.2l67.9 67.9z" />
							</svg>
						</i>
						<span><small>Время
								работы</small><br><strong>Пн
								-Сб: 11.00 - 20.00</strong></span>
					</div>
					<div class="header__info__items">
						<i class="icon__svg">
							<svg viewBox="0 0 100.353 100.352" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M58.23 69.992l14.993-24.108c.049-.078.09-.16.122-.245a26.697 26.697 0 003.956-13.969c0-14.772-12.018-26.79-26.79-26.79S23.72 16.898 23.72 31.67c0 4.925 1.369 9.75 3.96 13.975.03.074.065.146.107.216l14.455 24.191c-11.221 1.586-18.6 6.2-18.6 11.797 0 6.935 11.785 12.366 26.829 12.366S77.3 88.783 77.3 81.849c.001-5.623-7.722-10.34-19.07-11.857zM30.373 44.294A23.708 23.708 0 0126.72 31.67c0-13.118 10.672-23.79 23.791-23.79 13.118 0 23.79 10.672 23.79 23.79 0 4.457-1.263 8.822-3.652 12.624-.05.08-.091.163-.124.249L54.685 70.01c-.238.365-.285.448-.576.926l-4 6.432-19.602-32.804a1.508 1.508 0 00-.134-.27zm20.099 46.921c-14.043 0-23.829-4.937-23.829-9.366 0-4.02 7.37-7.808 17.283-8.981l4.87 8.151c.269.449.751.726 1.274.73h.013c.518 0 1-.268 1.274-.708l5.12-8.232C66.548 73.9 74.3 77.784 74.3 81.849c.001 4.43-9.785 9.366-23.828 9.366z" />
								<path
									d="M60.213 31.67c0-5.371-4.37-9.741-9.741-9.741s-9.741 4.37-9.741 9.741 4.37 9.741 9.741 9.741c5.371 0 9.741-4.37 9.741-9.741zm-16.482 0c0-3.717 3.024-6.741 6.741-6.741s6.741 3.024 6.741 6.741-3.023 6.741-6.741 6.741-6.741-3.024-6.741-6.741z" />
							</svg>
						</i>
						<span>Адрес:<br><strong>г. Горад, улица Улица, 2</strong></span>
					</div>
				</div>
				<nav class="mobile__menu">
					<button class="burger-menu__button">
						<span class="burger-menu__lines"></span>
					</button>
					<div class="burger-menu__overlay"></div>
					<div class="logo__wrap">
						<a href="index.html">
							<img src="assets/images/icon/logo.svg" alt="RadioBazar"
								title='RadioBazar - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Спортивнае, улица Улица 2'>
							<p><span>R</span>adio<span>B</span>azar<br><i>ремонт телефонов</i></p>
						</a>
					</div>
					<ul class="nav">
						<li><a href="index.html" class="nav__item">Главная</a></li>
						<li><a href="remont-telefonov.html" class="nav__item">Ремонт телефонов</a></li>
						<li><a href="remont-navigatorov.html" class="nav__item">Ремонт навигаторов</a></li>
						<li><a href="remont-watch.html" class="nav__item">Ремонт часов</a></li>
						<li><a href="#shop" class="nav__item">Магазин</a></li>
						<li><a href="#news" class="nav__item">Новости</a></li>
						<li><a href="#contacts" class="nav__item">Контакты</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="progress-container">
			<div class="progress-bar" id="myBar"></div>
		</div>
	</div>

<div class="swiper__header swiper-container">
		<div class="swiper__header__wrapper swiper-wrapper">
			<div class="swiper__header__slide swiper-slide swiper-slide-1" style="background-image: url('./assets/images/slider/Galaxy-S10-HD-2.jpg'); background-repeat: no-repeat;">
				<div class="wrapper">
					<div class="row">
						<div class="header__swiper__items">
							<h2><span>Р</span>адио<span>Б</span>азар- мастерская по ремонту мобильных телефонов,
								планшетов, gps-навигаторов,
								часов.</h2>
							<p>Мы производим ремонт телефонов и планшетов большинства известных и не очень
								производителей: Samsung, Apple iPhone, Sony, HTC, Nokia, LG, Lenovo, Asus, Huawei, Acer,
								Archos, BenQ, BlackBerry, DEXP, Digma, Gigabyte, HP... Помимо этого производим ремонт
								часов любых марок и видов: механических и кварцевых, наручных, карманных, настольных,
								каминных, настенных и напольных (с боем и без), старинных и антикварных.</p>
							<a href="tel:+000000000000" class="btn header__btn"><span>Позвонить</span></a>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper__header__slide swiper-slide swiper-slide-2">
				<div class="wrapper">
					<div class="row">
						<div class="header__swiper__items">
							<div class="header__swiper__items--1">
								<h2>При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок.</h2>
								<p>Защитное стекло клеится на экран телефона и в некоторых случаях предотвращает его от
									повреждений при падении. В процессе эксплуатации телефона защитное стекло
									предотвращает
									появление на поверхности стекла экрана мелких повреждений и царапин.
								</p>
								<a href="tel:+000000000000" class="btn header__btn"><span>Позвонить</span></a>
							</div>
							<div class="header__swiper__items--2">
								<picture>
									<source type="image/webp" srcset="assets/images/background/glass-min.webp">
									<img src="assets/images/background/glass-min.png"
										alt="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок"
										loading="lazy"
										title="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок">
								</picture>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>

</header>