<div class="news" id="news">
	<div class="wrapper">
		<div class="row">
			<div class="row__title">
				<p class="title__custom">Последние новости</p>
			</div>

			<article class="news__items">
				<div class="news__img ">
					<a href="/news/news-1.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/2/min.webp">
							<img src="assets/images/news/2/min.jpg" alt="Замена стекла в Honor 20" loading="lazy"
								title="Замена стекла в Honor 20">
						</picture>
						<span class="news__date">20 декабря 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-1.html">Замена стекла в Honor 20.</a></h3>
				<p class="news__text">Разбилось стекло в любимом телефоне, не спешите расстраивается, мы можем Вам
					предложить замену стекла без замены дисплейного модуля целиком.</p>
				<a href="/news/news-1.html" class=" news__btn">Читать далее...</a>
			</article>

			<article class="news__items">
				<div class="news__img ">
					<a href="/news/news-2.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/1/min.webp">
							<img src="assets/images/news/1/min.jpg" alt="Замена стекла в Xiaomi redmi note 8 pro"
								loading="lazy" title="Замена стекла в Xiaomi redmi note 8 pro">
						</picture>
						<span class="news__date">19 декабря 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-2.html">Замена стекла в Xiaomi redmi note 8 pro.</a></h3>
				<p class="news__text">Разбилось стекло в любимом телефоне, не спешите расстраивается, мы можем Вам
					предложить замену стекла без замены дисплейного модуля целиком.</p>
				<a href="/news/news-2.html" class=" news__btn">Читать далее...</a>
			</article>

			<article class="news__items">
				<div class="news__img ">
					<a href="/news/news-3.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/3/min.webp">
							<img src="assets/images/news/3/min.jpg" alt="Разборка Huawei P30 Pro " loading="lazy"
								title="Разборка Huawei P30 Pro ">
						</picture>
						<span class="news__date">19 декабря 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-3.html">Разборка Huawei P30 Pro</a></h3>
				<p class="news__text">ifixit произвела разборку Huawei P30 Pro</p>
				<a href="/news/news-3.html" class=" news__btn">Читать далее...</a>
			</article>
			<div class="row__link">
				<a href="news.html">Перейти в блог</a>
			</div>
		</div>
	</div>
</div>