<div class="news" id="news">
	<div class="wrapper">
		<section class="row">
			<div class="row__title">
				<p class="title__custom">Последние новости </p>
			</div>

			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<div class="row__link">
				<a href="#"> Перейти в блог</a>
			</div>
		</section>
	</div>
</div>