<div class="scrap">
	<div class="wrapper">
		<div class="row">
			<div class="scrap__col">
				<p class="title__custom scrap__title">Продайте сломанное устройство</p>
				<p class="scrap__text">Мы платим большие деньги за сломанные сотовые телефоны и планшеты. Если вы решили
					не ремонтировать свое устройство, мы с радостью купим его для вас.</p>
				<button class="btn scrap__btn">Продать устройство</button>

			</div>
		</div>
	</div>
</div>