<div class="shop" id="shop">
	<div class="wrapper">
		<div class="row">
			<div class="shop__title">
				<h3 class="title__custom">Аксессуары и запчасти</h3>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-15.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">% Акция</div>
					<img src="/assets/images/shop/shop-1.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-12.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-3.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-4.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-5.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">%Акция</div>
					<img src="/assets/images/shop/shop-6.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">%Акция</div>
					<img src="/assets/images/shop/shop-7.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">%Акция</div>
					<img src="/assets/images/shop/shop-8.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">%Акция</div>
					<img src="/assets/images/shop/shop-9.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">%Акция</div>
					<img src="/assets/images/shop/shop-11.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/shop-10.jpg" alt="shop" loading="lazy">
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Lorem ipsum dolor sit amet.</p>
					<p class="shop__items__price"><span>Цена:</span> 50 руб. 00кп.</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="row__link shop__linck">
				<a href="#"> Перейти в котолог</a>
			</div>

		</div>

	</div>
</div>