<div class="slider__wrapper">
	<div class="swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<img media="(min-width: 1200px)" src="./assets/images/slider/2.jpg"
						alt="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок"
						loading="lazy"
						title="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок">
				</picture>
				<div class="swiper__background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper__content">
								<h2>При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок.</h2>
								<p>Защитное стекло клеится на экран телефона и в некоторых случаях предотвращает его от
									повреждений при падении. В процессе эксплуатации телефона защитное стекло
									предотвращает
									появление на поверхности стекла экрана мелких повреждений и царапин.
								</p>
								<a href="tel:+375297057060" class="btn header__btn swiper__btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="swiper-slide">
				<picture>
					<source type="image/webp" media="(max-width: 768px)"
						srcset="./assets/images/slider/Galaxy-S10-min-2.webp">
					<source media="(max-width: 768px)" srcset="./assets/images/slider/Galaxy-S10-min-2.jpg">
					<source type="image/webp" media="(max-width: 1199px)"
						srcset="./assets/images/slider/Galaxy-S10-SD-2.webp">
					<source media="(max-width: 1199px)" srcset="./assets/images/slider/Galaxy-S10-SD-2.jpg">
					<source type="image/webp" media="(min-width: 1200px)"
						srcset="./assets/images/slider/Galaxy-S10-HD-2.webp">
					<img media="(min-width: 1200px)" src="./assets/images/slider/Galaxy-S10-HD-2.jpg"
						alt="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок"
						loading="lazy"
						title="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок">
				</picture>
				<div class="swiper__background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper__content">
								<h2>При замене дисплейного модуля защитное стекло в подарок.</h2>
								<p>Защитное стекло клеится на экран телефона и в некоторых случаях предотвращает его от
									повреждений при падении. В процессе эксплуатации телефона защитное стекло
									предотвращает
									появление на поверхности стекла экрана мелких повреждений и царапин.
								</p>
								<a href="tel:+375297057060" class="btn header__btn swiper__btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<picture>
					<img media="(min-width: 1200px)" src="./assets/images/slider/2.jpg"
						alt="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок"
						loading="lazy"
						title="При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок">
				</picture>
				<div class="swiper__background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper__content">
								<h2>При замене тачскрина, экрана или дисплейного модуля защитное стекло в подарок.</h2>
								<p>Защитное стекло клеится на экран телефона и в некоторых случаях предотвращает его от
									повреждений при падении. В процессе эксплуатации телефона защитное стекло
									предотвращает
									появление на поверхности стекла экрана мелких повреждений и царапин.
								</p>
								<a href="tel:+375297057060" class="btn header__btn swiper__btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-pagination"></div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
	</div>
</div>
