{% include "partials/htmlup.njk" %}
<!-- {% include "./partials/degubgrid.njk" %} -->
<div class="wrapper">
	{% include "partials/header.njk" %}
	{% include "partials/advantage.njk" %}
	{% include "partials/work.njk" %}
	{% include "partials/profit.njk" %}
	{% include "partials/calendar.njk" %}
	{% include "partials/questions.njk" %}
	{% include "partials/statistics.njk" %}
	{% include "partials/forms.njk" %}

</div>
{% include "partials/slider.njk" %}
{% include "partials/footer.njk" %}
{% include "partials/popup.njk" %}
<script src="./assets/js/script.js"></script>
{% include "partials/htmlend.njk" %}