{% if not(title) %}
{% set title = "Главная" %}
{% endif %}
{% if not(description) %}
{% set description = "Краткое описание" %}
{% endif %}
{% if not(keywords) %}
{% set keywords = "Ключивые слова" %}
{% endif %}


<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">

	<meta name="keywords" content="{{ keywords }}">

	<meta name=" subject" content="{{ title }}">

	<meta name="geo.placename" content="Беларусь, Минск, метро Спортивное, улица Бельского 2">
	<meta name="geo.region" content="RU-Минск">
	<meta name="author" content="Loosemaster.ru">
	<meta name="copyright" content="Loosemaster.ru">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
	<meta name="google" content="nositelinkssearchbox">
	<meta name="google" content="notranslate">
	<meta name="document-state" content="dynamic">
	<!-- <link rel="canonical" href="https://...name"> -->


	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
	<link rel="stylesheet" href="/assets/libs/swiper/swiper-bundle.min.css">
	<link rel="stylesheet" href="/assets/css/styles.css?v=1.1">

</head>

<body>
	<header class="header__other" id="up">
		<div class="header__nav" id="navbar">
			<div class="progress-container">
				<div class="progress-bar" id="myBar"></div>
			</div>
			<div class="wrapper">
				<div class="row">
					<div class="header__info">
						<a href="tel:+375257057060" class="header__info__items"><i class="icon__svg">
								<svg viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
									<path d="M0 0h48v48H0z" fill="none" />
									<path
										d="M13.25 21.59a30.12 30.12 0 0013.18 13.17l4.4-4.41a2 2 0 012.03-.49C35.1 30.6 37.51 31 40 31a2 2 0 012 2v7a2 2 0 01-2 2A34 34 0 016 8a2 2 0 012-2h7a2 2 0 012 2c0 2.49.4 4.9 1.14 7.14a2 2 0 01-.49 2.03l-4.4 4.42z" />
								</svg>
							</i><span><small>Для
									связи</small><br><strong>+375(25)705-70-60</strong></span>
						</a>
						<div class="header__info__items">
							<i class="icon__svg">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320.55 320.55">
									<path
										d="M160.27 0C71.77 0 0 71.76 0 160.27s71.76 160.27 160.27 160.27 160.27-71.75 160.27-160.27S248.78 0 160.27 0zm0 307.69c-81.29 0-147.42-66.14-147.42-147.42S79 12.85 160.27 12.85c81.28 0 147.42 66.13 147.42 147.42 0 81.28-66.14 147.41-147.42 147.41zm83.56-77.1a9.64 9.64 0 01-13.63 13.64L161.97 176c-.5.05-.97.15-1.48.15a15.67 15.67 0 01-15.67-15.67c0-5 2.38-9.4 6.02-12.26V72.97a9.64 9.64 0 0119.3 0v75.25a15.59 15.59 0 016.02 12.26c0 .76-.12 1.48-.22 2.2l67.9 67.9z" />
								</svg>
							</i>
							<span><small>Время
									работы</small><br><strong>Пн
									-Сб: 11.00 - 20.00</strong></span>
						</div>
					</div>
					<nav class="mobile__menu">
						<button class="burger-menu__button">
							<span class="burger-menu__lines"></span>
						</button>
						<div class="burger-menu__overlay"></div>
						<div class="logo__wrap">
							<a href="index.html">
								<img src="./assets/images/icon/logo.svg" alt="RadioBazar"
									title='RadioBazar - ремонт телефонов, планшетов, навигаторов, часов в Минске, в 100 метрах от метро Спортивное, улица Бельского 2'>
								<p><span>R</span>adio<span>B</span>azar<br><i>ремонт телефонов</i></p>
							</a>
						</div>
						<div class="nav">
							<a href="index.html" class="nav__item">Главная</a>
							<a href="index.html#services-nav" class="nav__item">Услуги</a>
							<a href="index.html#shop" class="nav__item">Магазин</a>
							<a href="news.html" class="nav__item">Новости</a>
							<a href="index.html#contacts" class="nav__item">Контакты</a>
						</div>
					</nav>
				</div>
			</div>
		</div>

	</header>
	{% block content %}

	{% endblock %}


	<!-- Полифил, позволяющий обеспечивать базовые стили HTML5 для Internet Explorer 6-8, Safari 4.x, Firefox 3.x. и iPhone 3.x.  -->
	<!--[if lt IE 9]>
	<script src="/assets/libs/html5shiv/es5-shim.min.js"></script>
	<script src="/assets/libs/html5shiv/html5shiv.min.js"></script>
	<script src="/assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="/assets/libs/html5shiv/respond.min.js"></script>
    <![endif]-->
	<script src="/assets/libs/swiper/swiper-bundle.min.js"></script>
	<script src="/assets/js/script.js"></script>
</body>

</html>