<div class="swiper-container">
	<div class="swiper-wrapper">
		<div class="swiper-slide swiper-slide-1"
			style="background-image:  url(assets/images/phone/Galaxy-S10-HD-1.jpg);">
			<div class="wrapper">
				<div class="row">
					<div class="header__swiper__items">
						<h2>Повседневная практика показывает, что высокотехнологичная концепция общественной системы
							способствует</h2>
						<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
							соответствующей насущным потребностям. Повседневная практика показывает, что курс на
							социально-ориентированный национальный проект способствует подготовке и реализации
							прогресса
							профессионального общества.</p>
						<a href="tel:+1234567890" class="btn header__btn"><span>Позвонить</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide swiper-slide-2" style="background-image:  url(assets/images/background/woman-1.jpg);">
			<div class="wrapper">
				<div class="row">
					<div class="header__swiper__items">
						<h2>Скидки, много скидок, АХУЕТЬ как много скидок</h2>
						<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
							соответствующей насущным потребностям. Повседневная практика показывает, что курс на
							социально-ориентированный национальный проект способствует подготовке и реализации
							прогресса
							профессионального общества.</p>
						<a href="tel:+1234567890" class="btn header__btn"><span>Позвонить</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-slide swiper-slide-3" style="background-image:  url(assets/images/background/gift-1.jpg);">
			<div class="wrapper">
				<div class="row">
					<div class="header__swiper__items">
						<h2>Делаем подарки, дешовые и низкого качества</h2>
						<p>Таким образом консультация с широким активом напрямую зависит от системы обучения кадров,
							соответствующей насущным потребностям. Повседневная практика показывает, что курс на
							социально-ориентированный национальный проект способствует подготовке и реализации
							прогресса
							профессионального общества.</p>
						<a href="tel:+1234567890" class="btn header__btn"><span>Позвонить</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="swiper-pagination"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-button-next"></div>
</div>