<section class="aboutus">
	<h3>О нас </h3>
	<div class="aboutus__row">
		<div class="aboutus__row__text">
			<h4>Ветеринарный Госпиталь Саратова оснащен:</h4>
			<ul>
				<li>- тремя операционными блоками, с кардиоманиторами, оксигенаторами, коагуляторами ERBE, наркозными
					аппаратами, аппаратами ИВЛ, кислородными камерами, инфузоматами, холодильником для хранения
					донорской крови, установками очистки и обеззараживания воздуха, моторной системой Aesculap ELAN-EC,
					позволяющей реализовать все задачи, ортопеда, травматолога и невролога;</li>
				<li>- отделением эндодиагностики и эндохирургии, оснащенное самым современным оборудованием фирмы KARL
					STORZ;</li>
				<li>- офтальмологическим отделением;</li>
				<li>- рентгенкабинетом;</li>
				<li>- комплексом ультразвуковой диагностики;</li>
				<li>- клинико-диагностической лабораторией;</li>
				<li>- стоматологическим кабинетом с дентальным рентгеновским аппаратом и визиографом;</li>
				<li>- кардиологическим кабинетом.</li>
				<li><span>Сейчас в клинике работает 15 человек, из них: 2 доктора ветеринарных наук и 3 кандидата
						ветеринарных
						наук. Кроме того, 5 сотрудников ведут научную работу по написанию.</span></li>
			</ul>
			<div class="aboutus__row__text__button">
				<a href="#">Еще</a>
			</div>
		</div>
		<div class="aboutus__row__slider">
			<div class="aboutus__slider">
				<img src="./assets/images/aboutus-1.jpg" alt="О нас">
			</div>
		</div>
	</div>
</section>