<div class="cards">
	<div class="cards__row">
		<div class="cards__item">
			<img src="./assets/images/card-icon-1.svg" alt="График работы клиники">
			<p class="cards__item__title">График работы клиники</p>
			<div class="cards__item__text cards__item__timetable">
				<p>Ежедневно <span>9:00-21:00</span></p>
				<p>Без перерывов</p>
			</div>
		</div>
		<div class="cards__item">
			<img src="./assets/images/card-icon-2.svg" alt="Расписание работы врачей">
			<p class="cards__item__title">Расписание работы врачей</p>
			<div class="cards__item__text ">
				<p>Запишись к специалисту любой области любым удобным способом</p>
				<p><a href="#">Подробнее</a></p>
			</div>
		</div>
		<div class="cards__item">
			<img src="./assets/images/card-icon-3.svg" alt="Как записаться на прием?">
			<p class="cards__item__title">Как записаться на прием?</p>
			<p>Записаться на примем Вы можете по номеру</p>
			<div class="cards__item__text cards__item__phone">
				<a href="#">8 (8452) 323 - 500</a><br>
				<a href="#">8 (8452) 677 - 557</a>
			</div>
		</div>
		<div class="cards__item">
			<img src="./assets/images/card-icon-4.svg" alt="Узнать прайс">
			<p class="cards__item__title">Узнать прайс</p>
			<div class="cards__item__text">
				<p>Ознакомьтесь со стоимостью услуг нашей клиники</p>
				<p><a href="#">Подробнее</a></p>
			</div>
		</div>
	</div>
</div>