<div class="contacts">
	<h3>Контакты</h3>
	<div class="contacts__maps" id="wrapMap">
		<iframe
			src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac985e53324fb02c548f6c2341b95356df4e1e28da4a569d6436f4622e2b168d0&amp;source=constructor"
			width="100%" height="100%" frameborder="0" style="pointer-events: none;"></iframe>
	</div>
	<div class="contacts__forms">
		<form action="">
			<h4>Написать письмо главному врачу</h4>
			<div class="form__wrap">
				<div class="input__row">
					<input type="text" placeholder="Имя*">
					<input type="tel" placeholder="Телефон*">
					<input type="text" placeholder="е-mail*">
				</div>
				<textarea name="" id="" cols="30" rows="10" placeholder="Текст*"></textarea>
				<div class="form__checkbox">
					<input type="checkbox" id="answer1">
					<label for="answer1"><span>Согласен на обработки персональных данных</span></label>
				</div>

				<button type="submit">Отправить</button>
			</div>


		</form>
	</div>
</div>