<footer>
	<div class="footer__wrapper">
		<div class="footer__row">
			<h3 class="footer__item__title"><img src="./assets/images/footer-logo.svg" alt="логотип">Ветеринарный
				Госпиталь</h3>
			<div class="footer__item footer__item__adres">
				<img src="./assets/images/footer-adres.svg" alt="адрес">
				<div>г. Саратов, ул. Большая Садовая, д. 220. Территория СГАУ им. Вавилова. Учебный комплекс №3.</div>
			</div>
			<div class="footer__item footer__item__phone">
				<img src="./assets/images/footer-phone.svg" alt="телефон">
				<div>
					<a href="#">(8452) 323-500, 677-557</a>
					<p>Регистратура с 9.00 — 21.00</p>
				</div>
			</div>
			<div class="footer__item footer__item__mail">
				<img src="./assets/images/footer-mail.svg" alt="почта">
				<div>
					<a href="#">vethospital@yandex.ru</a>
					<p>(связь с главным врачом)</p>
				</div>
			</div>
			<div class="footer__item__nav">
				<a href="index.html">Главная</a>
				<a href="services.html">Услуги и цены</a>
				<a href="specialists.html">Специалисты</a>
				<a href="news.html">Новости</a>
				<a href="404.html">Статьи</a>
				<a href="contacts.html">Контакты</a>
			</div>
			<div class="footer__item__social">
				<a href="#"><img src="./assets/images/footer-inst.svg" alt="инстаграм"></a>
				<a href="#"><img src="./assets/images/footer-vk.svg" alt="vk"></a>
				<a href="#"><img src="./assets/images/footer-ok.svg" alt="ok"></a>
			</div>
			<div class="footer__item__copyright">
				<a href="404.html">Политика конфиденциальности</a>
				<span>© Ветгоспиталь 2020</span>
			</div>
		</div>
	</div>
</footer>