<header class="header">
	<div class="header__contacts">
		<div class="header__logo">
			<img src="./assets/images/logo.svg" alt="логотип">
			<div class="header__logo__text">
				<p>Ветеринарный</p>
				<p>Госпиталь</p>
			</div>
		</div>
		<div class="header__address">
			<img src="./assets/images/point.svg" alt="карта"><span>г. Саратов, ул. Большая Садовая, д. 220. Территория
				СГАУ им. Вавилова. Учебный комплекс №3.</span>
		</div>
		<div class="header__phone">
			<img src="./assets/images/phone.svg" alt="телефон">
			<p><a href="#">(8452) 323-500, 677-557</a><br>
				<span>Регистратура с 9.00 — 21.00</span>
			</p>
		</div>
	</div>
	<div class="header__nav">
		<div class="header__nav__row">

			<nav class="header__navigation">
				<a href="#" class="burger-menu__button">
					<span class="burger-menu__lines"></span>
				</a>
				<div class="header__navigation__row">
					<a href="index.html" class="navigation__item navigation__item--active">Главная</a>
					<a href="services.html" class="navigation__item">Услуги и цены</a>
					<a href="specialists.html" class="navigation__item">Специалисты</a>
					<a href="news.html" class="navigation__item">Новости</a>
					<a href="contacts.html" class="navigation__item">Контакты</a>
				</div>
			</nav>
			<div class="header__branches">
				<img src="./assets/images/branches.svg" alt="Наши филиалы"> <a href="404.html">Наши филиалы</a>
			</div>
			<button class="header__search">
			</button>
		</div>
	</div>
</header>