<main class="main">
	<div class="main__wrapper">
		<div class="main__row">
			<div class="main__content">
				<h1>Круглосуточный ветеринарный госпиталь</h1>
				<p>У нас вы можете записаться на прием по телефону и получить консультацию</p>
			</div>
			<div class="main__card">
				<div class="main__card__item">
					<span class="main__card__img--1">
						<img src="./assets/images/icon-1.svg" alt="Диагностика">
					</span>
					<p>Диагностика</p>
				</div>
				<div class="main__card__item">
					<span class="main__card__img--1">
						<img src="./assets/images/icon-2.svg" alt="Узкие специалисты">
					</span>
					<p>Узкие специалисты</p>
				</div>
				<div class="main__card__item">
					<img src="./assets/images/icon-3.svg" alt="Эндоскопическая хирургия">
					<p>Эндоскопическая хирургия</p>
				</div>
			</div>
		</div>

	</div>
</main>