<div class="news">
	<section class="news__container">
		<div class="sub__menu">
			<a href="index.html">Главная</a>
			<a href="#">Новости</a>
		</div>
		<h3>Новости</h3>
		<div class="news__row">
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-1.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-2.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-1.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-2.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-1.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
			<article class="news__card">
				<div class="news__card__images">
					<img src="./assets/images/news/news-2.jpg" alt="Ветеринарный врач">
				</div>
				<div class="news__card__content">
					<div class="news__card__date">02.06.2020</div>
					<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999 году.
						В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у сук при
						трансмиссивной венерической саркоме".</p>
					<a href="news-1.html">Подробнее</a>
				</div>
			</article>
		</div>
	</section>
</div>