<div class="personnel">
	<div class="personnel__row">
		<h3>Наш заботливый персонал</h3>
		<div class="personnel__slider slider__2">
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-1.jpg" alt="доктор-1">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Верхушкина Анна Генадьевна</h4>
						<p>Офтальмолог, врач общей практики Офтальмолог, врач общей практики Офтальмолог, врач общей
							практикиОфтальмолог, врач общей практики мОфтальмолог, врач общей практики</p>
					</div>
				</div>
			</div>
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-2.jpg" alt="доктор-2">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Рыхлов Андрей Сергеевич</h4>
						<p>Директор клиники: доктор ветеринарных наук, профессор кафедры «Болезни животных и
							ветсанэкспертиза» ФГБОУ ВО "Саратовский ГАУ"</p>
					</div>
				</div>
			</div>
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-3.jpg" alt="доктор-3">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Пустотин Дмитрий Александрович</h4>
						<p>Ветеринарный врач:кандидат ветеринарных наук</p>
					</div>
				</div>
			</div>
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-1.jpg" alt="доктор-1">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Верхушкина Анна Генадьевна</h4>
						<p>Офтальмолог, врач общей практики Офтальмолог, врач общей практики Офтальмолог, врач общей
							практикиОфтальмолог, врач общей практики мОфтальмолог, врач общей практики</p>
					</div>
				</div>
			</div>
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-2.jpg" alt="доктор-2">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Рыхлов Андрей Сергеевич</h4>
						<p>Директор клиники: доктор ветеринарных наук, профессор кафедры «Болезни животных и
							ветсанэкспертиза» ФГБОУ ВО "Саратовский ГАУ"</p>
					</div>
				</div>
			</div>
			<div class="personnel__item slider__2__item">
				<img src="./assets/images/personal-3.jpg" alt="доктор-3">
				<div class="personnel__item__content">
					<div class="personnel__item__content--row">
						<h4>Пустотин Дмитрий Александрович</h4>
						<p>Ветеринарный врач:кандидат ветеринарных наук</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>