<section class="questions">
	<h3>Ответы на наиболее частые вопросы</h3>
	<a href="404.html" class="questions__link__all">Все вопросы</a>
	<div class="questions__slider">
		<div class="questions__slider__query" id="accordion">
			<div class="questions__slider__item">
				<p><img src="./assets/images/dog-icon-1.svg" alt="Как сдавать анализы?">Как сдавать анализы?</p>
				<div class="answer__cards">
					<h4>Как сдавать анализы?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
			<div class="questions__slider__item show">
				<p class="accordion__item__header"><img src="./assets/images/dog-icon-1.svg"
						alt="Какие анализы сдавать перед приемом врача?">Какие
					анализы
					сдавать перед приемом врача?</p>
				<div class="answer__cards">
					<h4>Какие анализы сдавать перед приемом врача?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
			<div class="questions__slider__item">
				<p class="accordion__item__header"><img src="./assets/images/dog-icon-1.svg"
						alt="Как подготовить питомца к стерилизации?">Как
					подготовить питомца к стерилизации?</p>
				<div class="answer__cards">
					<h4>Как подготовить питомца к стерилизации?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
			<div class="questions__slider__item">
				<p class="accordion__item__header"><img src="./assets/images/dog-icon-1.svg"
						alt="Какие анализы сдавать перед приемом врача?">Какие
					анализы сдавать перед приемом врача?</p>
				<div class="answer__cards">
					<h4>Какие анализы сдавать перед приемом врача?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
			<div class="questions__slider__item">
				<p><img src="./assets/images/dog-icon-1.svg" alt="Как сдавать анализы?">Как сдавать анализы?</p>
				<div class="answer__cards">
					<h4>Как сдавать анализы?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
			<div class="questions__slider__item">
				<p><img src="./assets/images/dog-icon-1.svg" alt="Как сдавать анализы?">Как подготовить питомца к
					стерилизации?</p>
				<div class="answer__cards">
					<h4>Как подготовить питомца к стерилизации?</h4>
					<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
						осмотра.
						Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
					<img src="./assets/images/answer-cards-1.png" alt="пробирки">
				</div>
			</div>
		</div>
		<!-- <div class="questions__slider__answer">
			<div class="answer__cards">
				<h4>Как сдавать анализы?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
			<div class="answer__cards answer__cards--active">
				<h4>Какие анализы сдавать перед приемом врача?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
			<div class="answer__cards">
				<h4>Как подготовить питомца к стерилизации?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
			<div class="answer__cards">
				<h4>Какие анализы сдавать перед приемом врача?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
			<div class="answer__cards">
				<h4>Как сдавать анализы?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
			<div class="answer__cards">
				<h4>Как подготовить питомца к стерилизации?</h4>
				<p>Вам нужно сначала прийти к врачу. Доутор осмотрит животное, и назначит анализы по результатам
					осмотра.
					Если у Вас уже сделаны какие-нибудь исследования, нао взять их с собой.</p>
				<img src="./assets/images/answer-cards-1.png" alt="пробирки">
			</div>
		</div> -->
	</div>
</section>