<div class="reviews">
	<div class="reviews__row">
		<h3>Отзывы о нашей работе</h3>
		<div class="reviews__slider slider__1">
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
			<div class="reviews__item slider__1__item">
				<h4>Сидоркова Ольга</h4>
				<p>Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с широко открытыми
					глазами после соответствующего лечения. После операции получила в подарок набор корма, что было
					очень приятно. Профессионализм на высшем уровне! Теперь наш кот Бельчик может смотреть на мир с
					широко открытыми глазами после соответствующего лечения. После операции получила в подарок набор
					корма, что было очень приятно.</p>
			</div>
		</div>
	</div>
</div>