<div class="services">
	<section class="services__row">
		<h3>Наши услуги</h3>
		<p>Здоровые питомцы сегодня и завтра - наша работа. Мы помогаем распознать болезнь Вашего питомца до того, как
			она из маленькой неприятности превратится в большую проблему!</p>
		<div class="services__card">
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-1.jpg" alt="Эндоскопия"></div>
				<p class="services__card__item--title">Эндоскопия</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-2.jpg" alt="Ветеринарный терапевт"></div>
				<p class="services__card__item--title">Ветеринарный терапевт</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-3.jpg" alt="Ветеринарный хирург"></div>
				<p class="services__card__item--title">Ветеринарный хирург</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-4.jpg" alt="Ветеринарный стоматолог"></div>
				<p class="services__card__item--title">Ветеринарный стоматолог</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-5.jpg" alt="Ветеринарный офтальмолог"></div>
				<p class="services__card__item--title">Ветеринарный офтальмолог</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__item">
				<div class="services__card__img">
					<img src="./assets/images/services-card-6.jpg" alt="Ветеринарный кардиолог"></div>
				<p class="services__card__item--title">Ветеринарный кардиолог</p>
				<a href="price-1.html">Подробнее</a>
			</div>
			<div class="services__card__all">
				<a href="services.html">Все услуги</a>
			</div>
		</div>
	</section>
</div>