<div class="specialists">
	<section class="specialists__row">
		<div class="sub__menu">
			<a href="index.html">Главная</a>
			<a href="#">Специалисты</a>
		</div>
		<h3>Наши специалисты</h3>
		<div class="specialists__card">
			<a href="doctor-1.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-1.jpg" alt="доктор-2"></div>
				<p class="specialists__card__item--title">Рыхлов Андрей Сергеевич</p>
				<p class="specialists__card__item--text">Директор клиники: доктор ветеринарных наук, профессор кафедры
					«Болезни животных и
					ветсанэкспертиза» ФГБОУ ВО "Саратовский ГАУ"</p>
			</a>
			<a href="doctor-2.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-2.jpg" alt="доктор-1"></div>
				<p class="specialists__card__item--title">Астрянская Оксана Владимировна</p>
				<p class="specialists__card__item--text">Ветеринарный врач: кандидат ветеринарных наук</p>
			</a>
			<a href="doctor-3.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-3.jpg" alt="доктор-3"></div>
				<p class="specialists__card__item--title">Пустотин Дмитрий Александрович</p>
				<p class="specialists__card__item--text">Ветеринарный врач:кандидат ветеринарных наук</p>
			</a>
			<a href="doctor-1.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-1.jpg" alt="доктор-2"></div>
				<p class="specialists__card__item--title">Рыхлов Андрей Сергеевич</p>
				<p class="specialists__card__item--text">Директор клиники: доктор ветеринарных наук, профессор кафедры
					«Болезни животных и
					ветсанэкспертиза» ФГБОУ ВО "Саратовский ГАУ"</p>
			</a>
			<a href="doctor-2.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-2.jpg" alt="доктор-1"></div>
				<p class="specialists__card__item--title">Астрянская Оксана Владимировна</p>
				<p class="specialists__card__item--text">Ветеринарный врач: кандидат ветеринарных наук</p>
			</a>
			<a href="doctor-3.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-3.jpg" alt="доктор-3"></div>
				<p class="specialists__card__item--title">Пустотин Дмитрий Александрович</p>
				<p class="specialists__card__item--text">Ветеринарный врач:кандидат ветеринарных наук</p>
			</a>
			<a href="doctor-1.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-1.jpg" alt="доктор-2"></div>
				<p class="specialists__card__item--title">Рыхлов Андрей Сергеевич</p>
				<p class="specialists__card__item--text">Директор клиники: доктор ветеринарных наук, профессор кафедры
					«Болезни животных и
					ветсанэкспертиза» ФГБОУ ВО "Саратовский ГАУ"</p>
			</a>
			<a href="doctor-2.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-2.jpg" alt="доктор-1"></div>
				<p class="specialists__card__item--title">Астрянская Оксана Владимировна</p>
				<p class="specialists__card__item--text">Ветеринарный врач: кандидат ветеринарных наук</p>
			</a>
			<a href="doctor-3.html" class="specialists__card__item">
				<div class="specialists__card__img">
					<img src="./assets/images/doctor/doctor-3.jpg" alt="доктор-3"></div>
				<p class="specialists__card__item--title">Пустотин Дмитрий Александрович</p>
				<p class="specialists__card__item--text">Ветеринарный врач:кандидат ветеринарных наук</p>
			</a>
		</div>
	</section>
</div>