<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Услуги</title>
	<meta name="description" content="Описание сайта">
	<meta name="keywords" content="ключивые слова">
	<meta name="subject" content="Описание сайта">
	<meta name="geo.placename" content="Беларусь, Минск">
	<meta name="geo.region" content="RU-Минск">
	<meta name="author" content="Loosemaster.ru">
	<meta name="copyright" content="Loosemaster.ru">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
	<meta name="google" content="nositelinkssearchbox">
	<meta name="google" content="notranslate">
	<meta name="document-state" content="dynamic">
	<!-- <link rel="canonical" href="https://...name"> -->


	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="assets/css/styles.css?v=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="container">
		{% include "./partials/header.njk" %}
		<div class="news">
			<section class="news__container">
				<div class="sub__menu">
					<a href="index.html">Главная</a>
					<a href="news.html">Новости</a>
					<a href="#">Ветеринарный врач</a>
				</div>
				<article class="article__card">
					<div class="article__title">
						<div class="news__card__date">02.06.2020</div>
						<h4>Ветеринарный врач Астрянская Оксана Владимировна принял участие в семинаре</h4>
					</div>
					<div class="article__images">
						<img src="./assets/images/news/news-1.jpg" alt="Ветеринарный врач">
					</div>
					<div class="article__content">
						<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999
							году. В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у
							сук
							при трансмиссивной венерической саркоме".В 2012 году защитил докторскую диссертацию в
							Московской
							государственной академии ветеринарной медицины и биотехнологии имени К.И. Скрябина.
							Специализация: травматология, ортопедия, пластическая хирургия, эндоскопия. Автор 73
							публикаций
							и исследований в области акушерства и хирургии. В 2008 году прошел курсы повышения
							квалификации
							по направлению "Применение метода черезкостного остеосинтеза ветеринарной хирургии" в ФГУ
							"РНЦ
							ВТО" имени академика Г.А. Илизарова Росмедтехнологий, г. Курган. Руководитель научного
							кружка
							для студентов по ортопедии и травматологии. Достижения в области ветеринарии: "Лучший
							ветеринарный врач Саратовской области 2006 года", Золотая медаль и диплом I степени за
							проект
							"Биомедицинские и ветеринарные технологии жизнеобеспечения животных" (2008 год), обладатель
							10
							сертификатов, 7 дипломов и 10 патентов на изобретение и 2 патента на полезную модель.
							Домашние
							живоные: скорпион. Стаж работы практикующим ветеринарным врачом 12 лет. Подготовил 1
							кандидата
							ветеринарных наук, является научным руководителем 3-х аспирантов. Регулярный участник
							конференций, стажировок, мастер-классов и курсов повышения квалификации.</p>
						<p>Закончил ветеринарный факультет Саратовского государственного аграрного университета в 1999
							году. В 2005 году защитил кандидатскую диссертацию по теме: "Восстановление плодовитости у
							сук
							при трансмиссивной венерической саркоме".В 2012 году защитил докторскую диссертацию в
							Московской
							государственной академии ветеринарной медицины и биотехнологии имени К.И. Скрябина.
							Специализация: травматология, ортопедия, пластическая хирургия, эндоскопия. Автор 73
							публикаций
							и исследований в области акушерства и хирургии. В 2008 году прошел курсы повышения
							квалификации
							по направлению "Применение метода черезкостного остеосинтеза ветеринарной хирургии" в ФГУ
							"РНЦ
							ВТО" имени академика Г.А. Илизарова Росмедтехнологий, г. Курган. Руководитель научного
							кружка
							для студентов по ортопедии и травматологии. Достижения в области ветеринарии: "Лучший
							ветеринарный врач Саратовской области 2006 года", Золотая медаль и диплом I степени за
							проект
							"Биомедицинские и ветеринарные технологии жизнеобеспечения животных" (2008 год), обладатель
							10
							сертификатов, 7 дипломов и 10 патентов на изобретение и 2 патента на полезную модель.
							Домашние
							живоные: скорпион. Стаж работы практикующим ветеринарным врачом 12 лет. Подготовил 1
							кандидата
							ветеринарных наук, является научным руководителем 3-х аспирантов. Регулярный участник
							конференций, стажировок, мастер-классов и курсов повышения квалификации.</p>

					</div>
				</article>
			</section>
		</div>
		{% include "./partials/footer.njk" %}
	</div>
	<script src="./assets/js/script.js"></script>

</body>

</html>