<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>Эндоскопия</title>
	<meta name="description" content="Описание сайта">
	<meta name="keywords" content="ключивые слова">
	<meta name="subject" content="Описание сайта">
	<meta name="geo.placename" content="Беларусь, Минск">
	<meta name="geo.region" content="RU-Минск">
	<meta name="author" content="Loosemaster.ru">
	<meta name="copyright" content="Loosemaster.ru">
	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">
	<meta name="google" content="nositelinkssearchbox">
	<meta name="google" content="notranslate">
	<meta name="document-state" content="dynamic">
	<!-- <link rel="canonical" href="https://...name"> -->


	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/assets/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="assets/css/styles.css?v=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto:wght@400;700&display=swap"
		rel="stylesheet">
</head>

<body>
	<div class="container">
		{% include "./partials/header.njk" %}

		<div class="price">
			<div class="price__row">
				<div class="sub__menu">
					<a href="index.html">Главная</a>
					<a href="services.html">Услуги</a>
					<a href="#">Эндоскопия</a>
				</div>
				<div class="price__wrap">
					<div class="price__card">
						<img src="./assets/images/services-card-1.jpg" alt="Эндоскопия">
						<div class="price__card__row">
							<p class="price__card__title">Эндоскопия</p>
							<a href="#" class="price__card__button">Цена 3000 ₽</a>
						</div>
					</div>
					<div class="price__content">
						<p>Эндоскопия (от эндо... и ...скопия)- метод исследования полых органов и полостей тела с
							помощью оптических приборов - эндоскопов. Эндоскопы вводят через естественные отверстия или
							через операционные проколы. Эндоскопию проводят под местным обезболиванием или под общей
							анастезией.</p>
						<p>Первые попытки осмотра мочевого пузыря и других полых органов были предприняты ешё в 19 в.,
							но несовершенство эндоскопов ограничивало развитие метода. Со 2-ой половины 20 в. с
							появлением стеклянных волоконных световодов и на их основе приборов волоконной оптики
							возможности эндоскопии резко расширились, т.к. стали доступны осмотру почти все органы.
							Документирование результатов эндоскопического исследования обусловило возможность
							объективного изучения динамики патологических процессов, происходящих в каком-либо органе.
							Современная эндоскопия играет особую роль в распознавании ранних стадий многих заболеваний.
							Нередко эндоскопию сочетают с прицельной (под контролем зрения) биопсией, лечебными
							мероприятиями, зондированием и т.д.</p>
						<p>Будущее ветеринарной медицины мелких животных напрямую связано с малоинвазивными методиками
							диагностики и хирургии. Эндоскопия в ближайшем будущем станет обязательным элементом
							лечебного процесса современной ветеринарной клиники. Очень отрадно, что это будущее уже
							наступило в Ветеринарном госпитале. Результатом двухлетней программы сотрудничества с фирмой
							KARL STORZ (Германия), стал успешный запуск отделения эндоскопической диагностики и
							хирургии, оснащенное самым современным эндоскопическим оборудованием.</p>
						<p>В отделении работают две эндоскопических операционных, оборудование которых позволяет
							выполнять весь спектр диагностических и лечебных процедур и проводить эндоскопические
							операции любой степени сложности. Общую анестезию осуществляют опытные врачи-анестезиологи,
							прошедшие специальное обучение.</p>
						<p>Важно отметить, что в госпитале подготовлены специалисты эндоскопической диагностики и
							хирургии – прошедшие обучение в Ветеринарной Эндоскопической Школе KARL STORZ. Обучение
							проходило в несколько этапов и сопровождалось стажировками в ведущих эндоскопических
							клиниках. По заключению экспертов в настоящее время «Ветеринарный госпиталь» СГАУ им. Н.И.
							Вавилова является самой оснащенной эндоскопической клиникой мелких животных в СНГ.</p>
					</div>

				</div>
			</div>
		</div>


		{% include "./partials/footer.njk" %}
	</div>
	<script src="./assets/js/script.js"></script>

</body>

</html>