{% set title = "404 - RadioBazar" %}
{% set description = "RadioBazar - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт навигаторов в Гораде метро Метро, аксессуары для навигаторов в Гораде метро Метро, запчасти для навигаторов в Гораде метро Метро, Горад метро Метро, Ремонт навигаторов Samsung, Ремонт навигаторов Xiaomi, Ремонт навигаторов Huawei, Ремонт навигаторов Meizu, Ремонт навигаторов Apple,
Ремонт навигаторов Nokia, Ремонт навигаторов HTC, Ремонт навигаторов Lenovo, Ремонт навигаторов Navitel, Ремонт навигаторов Garmin, Ремонт навигаторов GOCLEVER, Ремонт навигаторов Pioneer, Sony, Prology" %}
{% set canonical = "https://радиобазар.бел/404.html" %}

{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}
<div class="wrapper">
	<p class="error__title">Упссс!</p>
	<p class="error__404">404</p>
</div>


{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}