{% set title = "РадиоБазар - ремонт телефонов в Минске" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Минске, в 100 метрах от метро Спортивная, улица Бельского 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, РадиоБазар, ремонт телефонов в Минске метро Спортивная, ремонт планшетов в Минске метро Спортивная, ремонт часов в Минске метро Спортивная, ремонт навигаторов в Минске метро Спортивная, аксессуары для телефонов в Минске метро Спортивная, запчасти для телефонов в Минске метро Спортивная, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple, Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}


{% extends  "./layouts/default.njk" %}
{% block content %}
{% include "./partials/header.njk" %}
{% include "./partials/services-nav.njk" %}
{% include "./partials/advantages.njk" %}
{% include "./partials/breakdowns.njk" %}
{% include "./partials/repairoptions.njk" %}
{% include "./partials/shop.njk" %}
{% include "./partials/scrap.njk" %}
{% include "./partials/news.njk" %}
{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% include "./pages/popup.njk" %}
{% endblock %}