{% set title = "РадиоБазар - ремонт телефонов в Гораде" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, РадиоБазар, ремонт телефонов в Гораде метро Метро, ремонт планшетов в Гораде метро Метро, ремонт часов в Гораде метро Метро, ремонт навигаторов в Гораде метро Метро, аксессуары для телефонов в Гораде метро Метро, запчасти для телефонов в Гораде метро Метро, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple, Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}


{% extends  "./layouts/default.njk" %}
{% block content %}
{% include "./partials/header.njk" %}
{% include "./partials/slider.njk" %}
{% include "./partials/services-nav.njk" %}
{% include "./partials/advantages.njk" %}
{% include "./partials/breakdowns.njk" %}
{% include "./partials/repairoptions.njk" %}
{% include "./partials/shop.njk" %}
{% include "./partials/scrap.njk" %}
{% include "./partials/news.njk" %}
{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% include "./pages/popup.njk" %}
{% endblock %}