{% set title = "РадиоБазар - ремонт телефонов в Гораде" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт телефонов в Гораде метро Метро, ремонт планшетов в Гораде метро Метро, ремонт часов в Гораде метро Метро, ремонт навигаторов в Гораде метро Метро, аксессуары для телефонов в Гораде метро Метро, запчасти для телефонов в Гораде метро Метро, Горад метро Метро, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}
{% set canonical = "https://радиобазар.бел/news.html" %}

{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="news" id="news">
	<div class="wrapper">
		<div class="row">
			<div class="row__title">
				<p class="title__custom">Последние новости</p>
			</div>

			<article class="news__items">
				<div class="news__img ">
					<a href="news/news-1.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/2/min.webp">
							<img src="assets/images/news/2/min.jpg" alt="Замена стекла в Honor 20" loading="lazy"
								title="Замена стекла в Honor 20">
						</picture>
						<span class="news__date">20 декабря 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-1.html">Замена стекла в Honor 20.</a></h3>
				<p class="news__text">Разбилось стекло в любимом телефоне, не спешите расстраивается, мы можем Вам
					предложить замену стекла без замены дисплейного модуля целиком.</p>
				<a href="/news/news-1.html" class=" news__btn">Читать далее...</a>
			</article>

			<article class="news__items">
				<div class="news__img ">
					<a href="news/news-2.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/1/min.webp">
							<img src="assets/images/news/1/min.jpg" alt="Замена стекла в Xiaomi redmi note 8 pro"
								loading="lazy" title="Замена стекла в Xiaomi redmi note 8 pro">
						</picture>
						<span class="news__date">25 ноября 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="news/news-2.html">Замена стекла в Xiaomi redmi note 8 pro.</a></h3>
				<p class="news__text">Разбилось стекло в любимом телефоне, не спешите расстраивается, мы можем Вам
					предложить замену стекла без замены дисплейного модуля целиком.</p>
				<a href="news/news-2.html" class=" news__btn">Читать далее...</a>
			</article>

			<article class="news__items">
				<div class="news__img ">
					<a href="/news/news-3.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/3/min.webp">
							<img src="assets/images/news/3/min.jpg" alt="Разборка Huawei P30 Pro " loading="lazy"
								title="Разборка Huawei P30 Pro ">
						</picture>
						<span class="news__date">19 декабря 2020</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-3.html">Разборка Huawei P30 Pro</a></h3>
				<p class="news__text">ifixit произвела разборку Huawei P30 Pro</p>
				<a href="/news/news-3.html" class=" news__btn">Читать далее...</a>
			</article>

			<article class="news__items">
				<div class="news__img ">
					<a href="/news/news-4.html" class="pattern">
						<picture>
							<source type="image/webp" srcset="assets/images/news/4/min-Samsung_Galaxy_A51.webp">
							<img src="assets/images/news/4/min-Samsung_Galaxy_A51.jpg" alt="Разборка Samsung Galaxy A51" loading="lazy"
								title="Разборка Samsung Galaxy A51">
						</picture>
						<span class="news__date">08 января 2021</span>
					</a>
				</div>
				<h3 class="news__title"><a href="/news/news-4.html">Разборка Samsung Galaxy A51</a></h3>
				<p class="news__text">Разборка Samsung Galaxy A51</p>
				<a href="/news/news-4.html" class=" news__btn">Читать далее...</a>
			</article>
		</div>
	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}