{% set title = "РадиоБазар - ремонт телефонов в Минске" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Минске, в 100 метрах от метро Спортивное, улица Бельского 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт телефонов в Минске метро Спортивное, ремонт планшетов в Минске метро Спортивное, ремонт часов в Минске метро Спортивное, ремонт навигаторов в Минске метро Спортивное, аксессуары для телефонов в Минске метро Спортивное, запчасти для телефонов в Минске метро Спортивное, Минск метро Спортивное, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}


{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="news" id="news">
	<div class="wrapper">
		<div class="row">
			<div class="row__title">
				<p class="title__custom">Последние новости</p>
			</div>

			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
			<article class="news__items">
				<div class="news__img ">
					<a href="#" class="pattern"><img src="./assets/images/news/1.jpg" alt="news" loading="lazy">
						<span class="news__date">25 ноября 2020</span></a>
				</div>
				<h3 class="news__title"><a href="#">Lorem ipsum dolor sit amet.</a></h3>
				<p class="news__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla aut repudiandae
					animi voluptatum ad vel!</p>
				<!-- <a href="№" class="btn news__btn">Читать далее</a> -->
				<!-- <a href="" class="btn news__btn">Читать далее</a> -->
				<a href="" class=" news__btn">Читать далее...</a>
			</article>
		</div>
	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}