{% set title = "РадиоБазар - ремонт навигаторов в Минске" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Минске, в 100 метрах от метро Спортивная, улица Бельского 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт навигаторов в Минске метро Спортивная, аксессуары для навигаторов в Минске метро Спортивная, запчасти для навигаторов в Минске метро Спортивная, Минск метро Спортивная, Ремонт навигаторов Samsung, Ремонт навигаторов Xiaomi, Ремонт навигаторов Huawei, Ремонт навигаторов Meizu, Ремонт навигаторов Apple,
Ремонт навигаторов Nokia, Ремонт навигаторов HTC, Ремонт навигаторов Lenovo, Ремонт навигаторов Navitel, Ремонт навигаторов Garmin, Ремонт навигаторов GOCLEVER, Ремонт навигаторов Pioneer, Sony, Prology" %}
{% set canonical = "https://радиобазар.бел/remont-navigatorov.html" %}

{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="services">
	<div class="wrapper">
		<section class="row">
			<div class="services__content">
				<h2 class="services__title">Ремонт навигаторов в Минске</h2>
				<p>Сервисный центр "РадиоБазар"(RadioBazar) принимает в ремонт навигаторы большинства производителей, в
					том числе
					и китайские - брэндовые и даже ноунэйм. Если в списке ниже нет марки Вашего смартфона, уточните его
					модель и задайте вопрос по номеру телефона <a href="tel:+375297057060">+375(29)705-70-60</a>. Мы в
					свою очередь подскажем, сколько будет
					стоить отремонтировать навигатор и как быстро будет сделан ремонт.</p>
			</div>

			<div class="services__row">
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/37.jpg" loading="lazy"
							alt="Ремонт навигаторов Roadmax в Минске" title="Ремонт навигаторов Roadmax в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Roadmax</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/38.jpg" loading="lazy"
							alt="Ремонт навигаторов Navitel в Минске" title="Ремонт навигаторов Navitel в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Navitel</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/39.jpg" loading="lazy"
							alt="Ремонт навигаторов Goclever в Минске" title="Ремонт навигаторов Goclever в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Goclever</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/40.jpg" loading="lazy"
							alt="Ремонт навигаторов GEOFOX в Минске" title="Ремонт навигаторов GEOFOX в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов GEOFOX</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/41.jpg" loading="lazy"
							alt="Ремонт навигаторов Garmin в Минске" title="Ремонт навигаторов Garmin в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Garmin</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/20.jpg" loading="lazy"
							alt="Ремонт навигаторов Prestigio в Минске" title="Ремонт навигаторов Prestigio в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Prestigio</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/21.jpg" loading="lazy"
							alt="Ремонт навигаторов Explay в Минске" title="Ремонт навигаторов Explay в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Explay</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/23.jpg" loading="lazy"
							alt="Ремонт навигаторов Texet в Минске" title="Ремонт навигаторов Texet в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Texet</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/27.jpg" loading="lazy" alt="Ремонт навигаторов 3Q в Минске"
							title="Ремонт навигаторов 3Q в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов 3Q</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/28.jpg" loading="lazy"
							alt="Ремонт навигаторов Digma в Минске" title="Ремонт навигаторов Digma в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Digma</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/31.jpg" loading="lazy"
							alt="Ремонт навигаторов PiPO в Минске" title="Ремонт навигаторов PiPO в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов PiPO</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/32.jpg" loading="lazy"
							alt="Ремонт навигаторов Ritmix в Минске" title="Ремонт навигаторов Ritmix в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Ritmix</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/33.jpg" loading="lazy"
							alt="Ремонт навигаторов Wexler в Минске">
					</div>
					<p class="services__subtitle">Ремонт навигаторов Wexler</p>
				</div>
			</div>
			<div class="services__content">
				<h3>Типичные поломки навигаторов</h3>
				<p>Как и на планшетных компьютерах, в навигаторе наиболее хрупкой деталью является дисплей, который
					может выйти из строя при неаккуратном обращении с устройством. Именно с этой проблемой к нам чаще
					всего обращаются пользователи навигаторов. Также, одними из актуальных проблем, с которыми
					сталкиваются наши мастера, является обновление карт или навигационной системы. Все эти и другие
					услуги смогут произвести наши квалифицированные мастера.</p>
				<p>Если вам необходимо произвести качественный ремонт или настроить GPS навигатор, то наш сервисный
					центр «РадиоБазар» готов предоставить свои услуги в городе Минск. Быстрота работ, а также приемлемые
					цены на весь спектр услуг непременно порадуют всех обратившихся клиентов.</p>
			</div>
			<div class="services__content">
				<h3>Цены на ремонт навигаторов</h3>
				<ul class="services__content--info">
					<li>Цена указана только за услугу без учета стоимости запчастей.</li>
					<li>Конечная стоимость может отличаться в зависимости от модели устройства, сложности его разборки и
						сложности демонтажа заменяемых деталей.</li>
					<li>Сроки выполнения ремонта могут отличаться в зависимости от загруженности нашего сервисного
						центра, от наличия запчастей и сложности разборки ремонтируемого устройства.</li>
					<li>Цены носят консультативный характер. Окончательная стоимость ремонта определяется только после
						осмотра навигатора мастером.</li>
					<li>Стоимость работ неучтенных в данном разделе согласовывается с
						заказчиком индивидуально.</li>
				</ul>
				<div class="accordion__wrapper">
					<div class="repairoptions__accordion accordion__open">
						<span class="accordion__text">Диагностика</span>
						<span class="accordion__sum">от 0 рублей</span>
					</div>
					<div class="panel panel__open">
						<p>Предварительная диагностика с целью точного выявления существующей неисправности.</p>
					</div>
					<div class="repairoptions__accordion ">
						<span class="accordion__text">Замена экрана в навигаторе </span>
						<span class="accordion__sum">от 35 рублей</span>
					</div>
					<div class="panel">
						<p>Разбит дисплей, отсутствует изображение, пятна либо полосы вместо изображения единственный
							выход для вашего устройства замена дисплейного модуля.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена сенсора/тачскрина</span>
						<span class="accordion__sum">от 35 рублей</span>
					</div>
					<div class="panel">
						<p>В случае если у вас разбит или не срабатывает на касание тачскрин</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена аккумулятора</span>
						<span class="accordion__sum">от 25 рублей</span>
					</div>
					<div class="panel">
						<p>Навигатор не держит заряд, выключается во время звонка,
							играх, веб-сёрфинга и т.п. одна из основных причин данной неисправности это выход из строя
							аккумуляторной батареи. У нас вы сможете приобрести и установить аккумулятор с гарантией.
						</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена разъема питания</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Ваш гаджет стал медленно заряжаться или вовсе не заряжается и не подключается к компьютеру
							посредством USB-кабеля то в большинстве случаев это связано с неисправностью разъема
							питания(mini-USB, micro-USB, USB Type-C, lightning разъем…) вашего устройства</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена контроллера питания</span>
						<span class="accordion__sum">от 50 рублей</span>
					</div>
					<div class="panel">
						<p>Зачастую проблема с зарядкой устройства куда глубже нежели неисправность разъема питания.
							Контроллером питания узел устройства, который отвечает за подачу напряжения и тока
							установленного значения в другие компоненты. Контроллер питания в телефоне выполняет такую
							же функцию, как блок питания в компьютере — он формирует все нужные напряжения для
							процессора, для видеопроцессора, для памяти, для системы ввода и вывода данных.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена Wi-Fi/GPS микросхем</span>
						<span class="accordion__sum">от 60 рублей</span>
					</div>
					<div class="panel">
						<p>Причина когда может понадобится данная услуга это отсутствие, либо плохое качество Wi-Fi, GPS
							сигнала.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена ПО</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Если навигатор начал “подвисать”, не загружается,
							висит на заставке при включении, постоянные ошибки при работе… стоит обратится к нам на
							замену либо обновление программного обеспечения. </p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Очистка от пыли и грязи</span>
						<span class="accordion__sum">от 10 рублей</span>
					</div>
					<div class="panel">
						<p>Поможем если в разъем питания, гарнитуры попала грязь, отверстия динамика и микрофона попал
							мусор.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Установка, обновление программ навигации (Navitel, IGO...)</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Поможем если вам требуется установка или обновление программ навигации (Navitel, IGO...)</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Ремонт после попадания влаги</span>
						<span class="accordion__sum">от 35 рублей</span>
					</div>
					<div class="panel">
						<p>Если навигатор намок под дождем или уронили в воду то сушка феном, сушка на батареи или
							попытка
							просушить телефон в пакете с рисом могут только усугубить ситуацию и привести к удорожанию
							ремонта либо к полной не ремонтопригодности устройства. В случае попадания влаги лучше сразу
							обратится к специалистам. </p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}