{% set title = "РадиоБазар - ремонт телефонов в Гораде" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро
Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт телефонов в Гораде метро Метро, аксессуары для телефонов в Гораде метро
Метро, запчасти для телефонов в Гораде метро Метро, ремонт телефонов Горад, Ремонт телефонов Samsung, Ремонт
телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов
Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}
{% set canonical = "https://tuman1122.github.io/" %}

{% extends "./layouts/otherlayouts.njk" %}
{% block content %}
<div class="services">
	<div class="wrapper">
		<section class="row">
			<div class="services__content">
				<h2 class="services__title">Ремонт телефонов и планшетов в Гораде</h2>
				<p>Сервисный центр "РадиоБазар"(RadioBazar) принимает в ремонт телефоны всех производителей, в том числе
					и китайские - брэндовые и даже ноунэйм. Если в списке ниже нет марки Вашего смартфона, уточните его
					модель и задайте вопрос по номеру телефона <a href="tel:+000000000000">+000(00)000-00-00</a>. Мы в
					свою очередь подскажем, сколько будет
					стоить отремонтировать телефон и как быстро будет сделан ремонт.</p>
			</div>

			<div class="services__row">
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/1.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Apple в Гораде"
							title="Ремонт телефонов и планшетов Apple в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Apple</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/2.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Samsung в Гораде"
							title="Ремонт телефонов и планшетов Samsung в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Samsung</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/3.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Sony в Гораде"
							title="Ремонт телефонов и планшетов Sony в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Sony</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/15.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Huawei в Гораде"
							title="Ремонт телефонов и планшетов Huawei в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Huawei</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/16.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Zte в Гораде"
							title="Ремонт телефонов и планшетов Zte в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Zte</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/7.jpg" alt="Ремонт телефонов и планшетов Lenovo в Гораде"
							title="Ремонт телефонов и планшетов Lenovo в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Lenovo</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/8.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Asus в Гораде"
							title="Ремонт телефонов и планшетов Asus в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Asus</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/9.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Xiaomi в Гораде"
							title="Ремонт телефонов и планшетов Xiaomi в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Xiaomi</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/12.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Philps в Гораде"
							title="Ремонт телефонов и планшетов Philps в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Philps</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/13.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Alcatel в Гораде"
							title="Ремонт телефонов и планшетов Alcatel в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Alcatel</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/20.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Prestigio в Гораде"
							title="Ремонт телефонов и планшетов Prestigio в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Prestigio</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/21.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Explay в Гораде"
							title="Ремонт телефонов и планшетов Explay в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Explay</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/23.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Texet в Гораде"
							title="Ремонт телефонов и планшетов Texet в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов и планшетов Texet</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/10.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Meizu в Гораде"
							title="Ремонт телефонов и планшетов Meizu в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Meizu</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/4.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Nokia в Гораде"
							title="Ремонт телефонов и планшетов Nokia в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Nokia</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/6.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Lg в Гораде"
							title="Ремонт телефонов и планшетов Lg в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Lg</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/5.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов HTC в Гораде"
							title="Ремонт телефонов и планшетов HTC в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов HTC</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/11.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Motorola в Гораде"
							title="Ремонт телефонов и планшетов Motorola в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Motorola</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/14.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Fly в Гораде"
							title="Ремонт телефонов и планшетов Fly в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Fly</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/18.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Thl в Гораде"
							title="Ремонт телефонов и планшетов Thl в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Thl</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/19.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов LeEco в Гораде"
							title="Ремонт телефонов и планшетов LeEco в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов LeEco</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/22.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Zopo в Гораде"
							title="Ремонт телефонов и планшетов Zopo в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Zopo</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/25.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Keneksi в Гораде"
							title="Ремонт телефонов и планшетов Keneksi в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Keneksi</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/26.jpg" loading="lazy"
							alt="Ремонт телефонов и планшетов Maxvi в Гораде"
							title="Ремонт телефонов и планшетов Maxvi в Гораде">
					</div>
					<p class="services__subtitle">Ремонт телефонов Maxvi</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/24.jpg" loading="lazy" alt="Ремонт планшетов Oppo в Гораде"
							title="Ремонт планшетов Oppo в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов Oppo</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/27.jpg" loading="lazy" alt="Ремонт планшетов 3Q в Гораде"
							title="Ремонт планшетов 3Q в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов 3Q</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/28.jpg" loading="lazy" alt="Ремонт планшетов Digma в Гораде"
							title="Ремонт планшетов Digma в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов Digma</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/31.jpg" loading="lazy" alt="Ремонт планшетов PiPO в Гораде"
							title="Ремонт планшетов PiPO в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов PiPO</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/32.jpg" loading="lazy"
							alt="Ремонт планшетов Ritmix в Гораде" title="Ремонт планшетов Ritmix в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов Ritmix</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/33.jpg" loading="lazy"
							alt="Ремонт планшетов Wexler в Гораде" title="Ремонт планшетов Wexler в Гораде">
					</div>
					<p class="services__subtitle">Ремонт планшетов Wexler</p>
				</div>
			</div>
			<div class="services__content">
				<h3>Сколько длится ремонт телефонов?</h3>
				<p>Время, необходимое на ремонт мобильного телефона, напрямую зависит от характера неисправности, срока
					доставки комплектующих, и составляет от 1 часа до пары дней. Когда причина сразу ясна и не связана с
					заменой комплектующих и больших трудозатрат, мы готовы организовать ремонт смартфонов прямо в вашем
					присутствии.</p>

				<h3>Во сколько обходится ремонт мобильных телефонов?</h3>
				<p>Очень часто наших клиентов интересуют конкретные цены на ремонт телефонов. Однако любой мастер по
					ремонту мобильных телефонов пояснит, что размер бюджета, необходимого для восстановления техники,
					зависит от множества факторов: характера поломки, модели телефона, наличия запчастей и т.п.</p>
				<p>Тем не менее, если вы выбрали нашу мастерскую, то можете быть уверены – по сравнению с аналогичными
					услугами на белорусском рынке, мы предлагаем ремонт по выгодной цене</p>

				<h3>Как происходит ремонт мобильного телефона</h3>
				<ul>
					<li>Прежде чем нести телефон в сервисный центр, свяжитесь с нами и уточните все нюансы. Например,
						иногда ремонт смартфона может стоить дороже или совсем немного дешевле, чем покупка нового,
						особенно это касается устаревших моделей.</li>
					<li>Приносите с собой свою зарядку, ведь иногда поломка телефона связана с ней.</li>
					<li>Нам очень поможет детальная информация о том, как поломался телефон, полная его история!</li>
					<li>Если проблема очевидна, мы сможем сразу озвучить стоимость ремонта, если же все неоднозначно,
						придется оставить телефон на день или два для выяснения характера неисправности. После чего мы
						свяжемся с вами и согласует все дальнейшие действия.</li>
					<li>После того, как все снова работает, Вы сможете забрать свой смартфон, также можно уточнить
						статус ремонта по контактному телефону.</li>
				</ul>

				<h3>Типичные поломки смартфонов</h3>
				<ul>
					<li>Механические повреждения. Одна из наиболее частых причин, из-за которых требуется ремонт
						мобильного телефона: треснуло стекло, разбился дисплей, нет изображения или оно «мерцает» и
						т.п.. У некоторых производителей в ряде моделей надо менять стекло, тачскрин или экран целиком
						(к примеру, часто у мобильных телефонов Samsung стекло надо менять вместе с дисплеем).</li>
					<li>Попадание влаги (утопили, залили чаем или кофе и т.д.). Тут все довольно неоднозначно. Чем
						оперативнее устройство было обесточено и вынут аккумулятор, тем легче и дешевле обойдется ремонт
						мобильного телефона. Внимание! Не пробуйте включать телефон самостоятельно, даже если Вам
						кажется, что он на вид сухой и прошло много времени. Влага может остаться внутри под
						микросхемами, вследствие чего вся плата может сгореть! Даже если сразу беды не произошло, влага
						внутри корпуса может вызвать коррозию, из-за которой плата сгорит не сразу, и вроде как без
						видимой причины! Поэтому, если все-таки был факт попадания влаги, чтобы качественно починить
						телефон, необходима полная разборка, чистка и сушка специалистом!</li>
				</ul>
			</div>
			<div class="services__content">
				<h3>Цены на ремонт телефонов и планшетов</h3>
				<ul class="services__content--info">
					<li>Цена указана только за услугу без учета стоимости запчастей.</li>
					<li>Конечная стоимость может отличаться в зависимости от модели устройства, сложности его разборки и
						сложности демонтажа заменяемых деталей.</li>
					<li>Сроки выполнения ремонта могут отличаться в зависимости от загруженности нашего сервисного
						центра, от наличия запчастей и сложности разборки ремонтируемого устройства.</li>
					<li>Цены носят консультативный характер. Окончательная стоимость ремонта определяется только после
						осмотра телефона или планшета мастером.</li>
					<li>Стоимость работ неучтенных в данном разделе согласовывается с
						заказчиком индивидуально.</li>
				</ul>
				<div class="accordion__wrapper">
					<div class="repairoptions__accordion accordion__open">
						<span class="accordion__text">Диагностика</span>
						<span class="accordion__sum">от 0 рублей</span>
					</div>
					<div class="panel panel__open">
						<p>Предварительная диагностика с целью точного выявления существующей неисправности.</p>
					</div>
					<div class="repairoptions__accordion ">
						<span class="accordion__text">Замена экрана в телефоне </span>
						<span class="accordion__sum">от 35 рублей</span>
					</div>
					<div class="panel">
						<p>Разбит дисплей, отсутствует изображение, пятна либо полосы вместо изображения единственный
							выход для вашего устройства замена дисплейного модуля.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена стекла дисплейного модуля</span>
						<span class="accordion__sum">от 55 рублей</span>
					</div>
					<div class="panel">
						<p>В случае если у вас разбито только стекло дисплея и при этом дисплей сохраняет полную
							работоспособность то мы можем произвести замену стекла отдельна, что позволит вам сэкономить
							на стоимости ремонта и при этом сохранить оригинальный экран.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена аккумулятора</span>
						<span class="accordion__sum">от 25 рублей</span>
					</div>
					<div class="panel">
						<p>Ваше устройство(телефон, планшет, навигатор…) не держит заряд, выключается во время звонка,
							играх, веб-сёрфинга и т.п. одна из основных причин данной неисправности это выход из строя
							аккумуляторной батареи. У нас вы сможете приобрести и установить аккумулятор с гарантией.
						</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена разъема питания</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Ваш гаджет стал медленно заряжаться или вовсе не заряжается и не подключается к компьютеру
							посредством USB-кабеля то в большинстве случаев это связано с неисправностью разъема
							питания(mini-USB, micro-USB, USB Type-C, lightning разъем…) вашего устройства</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена контроллера питания</span>
						<span class="accordion__sum">от 50 рублей</span>
					</div>
					<div class="panel">
						<p>Зачастую проблема с зарядкой устройства куда глубже нежели неисправность разъема питания.
							Контроллером питания узел устройства, который отвечает за подачу напряжения и тока
							установленного значения в другие компоненты. Контроллер питания в телефоне выполняет такую
							же функцию, как блок питания в компьютере — он формирует все нужные напряжения для
							процессора, для видеопроцессора, для памяти, для системы ввода и вывода данных.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена GSM/Wi-Fi/GPS микросхем</span>
						<span class="accordion__sum">от 60 рублей</span>
					</div>
					<div class="panel">
						<p>Причина когда может понадобится данная услуга это отсутствие, либо плохое качество GSM,
							Wi-Fi, GPS сигнала.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена ПО</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>В случае ели ваше устройство(телефон, планшет, навигатор…) начал “подвисать”, не загружается,
							висит на заставке при включении, постоянные ошибки при работе… стоит обратится к нам на
							замену либо обновление программного обеспечения. </p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Очистка от пыли и грязи</span>
						<span class="accordion__sum">от 10 рублей</span>
					</div>
					<div class="panel">
						<p>Поможем если в разъем питания, гарнитуры попала грязь, отверстия динамика и микрофона попал
							мусор.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена корпусных частей</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Поцарапался, появились трещины и сколы на корпусе или просто надоел цвет тогда замена корпуса
							обновит и освежит внешний вид вашего устройства.</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Ремонт после попадания влаги</span>
						<span class="accordion__sum">от 35 рублей</span>
					</div>
					<div class="panel">
						<p>Если телефон намок под дождем или уронили в воду то сушка феном, сушка на батареи или попытка
							просушить телефон в пакете с рисом могут только усугубить ситуацию и привести к удорожанию
							ремонта либо к полной не ремонтопригодности устройства. В случае попадания влаги лучше сразу
							обратится к специалистам. </p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>


{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}