{% set title = "РадиоБазар - ремонт часов в Гораде" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт телефонов в Гораде метро Метро, ремонт планшетов в Гораде метро Метро, ремонт часов в Гораде метро Метро, ремонт навигаторов в Гораде метро Метро, аксессуары для телефонов в Гораде метро Метро, запчасти для телефонов в Гораде метро Метро, Горад метро Метро, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}
{% set canonical = "https://tuman1122.github.io/" %}

{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="services">
	<div class="wrapper">
		<section class="row">
			<div class="services__content">
				<h2 class="services__title">Сервисный центр по ремонту часов в Гораде</h2>
				<p>Сервисный центр "РадиоБазар"(RadioBazar) принимает в ремонт часы любых марок и видов: механических и
					кварцевых, наручных, карманных, настольных, каминных, настенных и напольных (с боем и без),
					старинных и антикварных.</p>
			</div>

			<div class="services__row">
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/35.jpg" loading="lazy"
							alt="Ремонт механических часов в Гораде" title="Ремонт механических часов в Гораде">
					</div>
					<p class="services__subtitle">Ремонт механических часов</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/36.jpg" loading="lazy" alt="Ремонт кварцевых часов в Гораде"
							title="Ремонт кварцевых часов в Гораде">
					</div>
					<p class="services__subtitle">Ремонт кварцевых часов</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/42.jpg" loading="lazy" alt="Ремонт настенных часов в Гораде"
							title="Ремонт настенных часов в Гораде">
					</div>
					<p class="services__subtitle">Ремонт настенных часов</p>
				</div>
				<div class="services__brand">
					<div class="services__brand__img">
						<img src="assets/images/logo-brand/43.jpg" loading="lazy" alt="Ремонт напольных часов в Гораде"
							title="Ремонт напольных часов в Гораде">
					</div>
					<p class="services__subtitle">Ремонт напольных часов</p>
				</div>
			</div>
			<div class="services__content">
				<h3>Проблемы, возникающие в эксплуатации часов</h3>
				<p>Ремонт часов - сложное и ответственное дело, для осуществления которого требуется специальное
					оборудование. Незначительные неисправности могут быть устранены самостоятельно, в домашних условиях,
					однако сложный ремонт следует поручить профессионалам.</p>
				<p>Мы поможем при различных неполадках, возникающих с этим видом аксессуаров - к примеру, часы отстают
					или, наоборот, спешат; часы остановились; колесико поворачивается с трудом; не вращаются стрелки
					циферблата и др. Мы устраним проблему, если:</p>
				<ul class="services__content--info">
					<li>часы не включаются,</li>
					<li>часы спешат или отстают,</li>
					<li>не работает автоподзавод,</li>
					<li>у них разбилось стекло и необходима его замена,</li>
					<li>требуется ремонт циферблата,</li>
					<li>часы подверглись воздействию влаги,</li>
					<li>присутствуют иные неполадки.</li>
				</ul>
			</div>
			<div class="services__content">
				<h3>Цены на ремонт часов</h3>
				<ul class="services__content--info">
					<li>Цена указана только за услугу без учета стоимости запчастей.</li>
					<li>Конечная стоимость может отличаться в зависимости от модели устройства, сложности его разборки и
						сложности демонтажа заменяемых деталей.</li>
					<li>Сроки выполнения ремонта могут отличаться в зависимости от загруженности нашего сервисного
						центра, от наличия запчастей и сложности разборки ремонтируемого устройства.</li>
					<li>Цены носят консультативный характер. Окончательная стоимость ремонта определяется только после
						осмотра часов мастером.</li>
					<li>Стоимость работ неучтенных в данном разделе, носящие единичных характер, согласовывается с
						заказчиком индивидуально</li>
				</ul>
				<div class="accordion__wrapper">
					<div class="repairoptions__accordion accordion__open">
						<span class="accordion__text">Диагностика</span>
						<span class="accordion__sum">5 рублей</span>
					</div>
					<div class="panel panel__open">
						<p>Предварительная диагностика с целью точного выявления существующей неисправности.</p>
					</div>
					<div class="repairoptions__accordion ">
						<span class="accordion__text">Настройка точности хода часов</span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Настройка точности хода часов</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Очистка от пыли циферблата и стекла</span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Очистка от пыли циферблата и стекла</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Герметизация часов</span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Герметизация часов. Обработка сальников специальными средствами</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена ремешка или браслета</span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Замена ремешка или браслета</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Полировка корпуса</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Полировка корпуса</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Сложный механический ремонт</span>
						<span class="accordion__sum">от 30 рублей</span>
					</div>
					<div class="panel">
						<p>Замена корпуса, замена стекла, ремонт механизма, замена механизма, ремонт хронографа</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Простой механический ремонт</span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Замена стекла, замена ремешка, замена/ремонт браслета, замена элементов оформления, проверка
							герметичности и точности хода</p>
					</div>
					<div class="repairoptions__accordion">
						<span class="accordion__text">Замена элемента питания </span>
						<span class="accordion__sum">от 5 рублей</span>
					</div>
					<div class="panel">
						<p>Замена батареи, замена аккумулятора</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}