{% set title = "РадиоБазар - ремонт планшетов в Гораде" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Гораде, в 100 метрах от метро Метро, улица Улица 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт планшетов в Гораде метро Метро, аксессуары для планшетов в Гораде метро Метро, запчасти для планшетов в Гораде метро Метро, Горад метро Метро, Ремонт планшетов Samsung, Ремонт планшетов Xiaomi, Ремонт планшетов Huawei, Ремонт планшетов Meizu, Ремонт планшетов Apple,
Ремонт планшетов Nokia, Ремонт планшетов HTC, Ремонт планшетов Lenovo, Ремонт планшетов Navitel, Ремонт планшетов Garmin, Ремонт планшетов GOCLEVER, Ремонт планшетов Pioneer, Sony, Prology" %}


{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}


{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}