{% set title = "РадиоБазар - ремонт планшетов в Минске" %}
{% set description = "РадиоБазар - ремонт телефонов, планшетов, навигаторов, часов в Минске, в 100 метрах от метро Спортивная, улица Бельского 2. Продажа аксуссуаров и запчастей к телефонам, планшетам, навигаторам и компъютерам" %}
{% set keywords = "RadioBazar, ремонт планшетов в Минске метро Спортивная, аксессуары для планшетов в Минске метро Спортивная, запчасти для планшетов в Минске метро Спортивная, Минск метро Спортивная, Ремонт планшетов Samsung, Ремонт планшетов Xiaomi, Ремонт планшетов Huawei, Ремонт планшетов Meizu, Ремонт планшетов Apple,
Ремонт планшетов Nokia, Ремонт планшетов HTC, Ремонт планшетов Lenovo, Ремонт планшетов Navitel, Ремонт планшетов Garmin, Ремонт планшетов GOCLEVER, Ремонт планшетов Pioneer, Sony, Prology" %}


{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}


{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}