{% set title = "РадиоБазар - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам" %}
{% set description = "РадиоБазар - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам в Минске, в 100 метрах от метро Спортивное, улица Бельского 2." %}
{% set keywords = "RadioBazar, аксессуары для телефонов в Минске метро Спортивное, аксессуары для планшетов в Минске метро Спортивное, аксессуары для часов в Минске метро Спортивное, аксессуары для навигаторов в Минске метро Спортивное, запчасти для телефонов в Минске метро Спортивное, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}


{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="shop" id="shop">
	<div class="wrapper">
		<div class="row">
			<div class="shop__title">
				<h3 class="title__custom">Аксессуары и запчасти</h3>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/1.jpg" alt="Аккумуляторы для телефонов Apple" loading="lazy"
						title="Аккумуляторы для телефонов Apple">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Apple</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/2.jpg" alt="Аккумуляторы для телефонов Xiaomi" loading="lazy"
						title="Аккумуляторы для телефонов Xiaomi">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Xiaomi</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/3.jpg" alt="Аккумуляторы для телефонов Huawei" loading="lazy"
						title="Аккумуляторы для телефонов Huawei">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Huawei</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/5.jpg" alt="Аккумуляторы для телефонов Samsung" loading="lazy"
						title="Аккумуляторы для телефонов Samsung">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Samsung</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/6.jpg" alt="USB-кабеля (в ассортименте)" loading="lazy"
						title="USB-кабеля (в ассортименте)">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-кабеля (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/7.jpg" alt="USB-зарядные устройства 5В/1А" loading="lazy"
						title="USB-зарядные устройства 5В/1А">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-зарядные устройства 5В/1А</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/8.jpg" alt="USB-зарядные устройства 5В/2А" loading="lazy"
						title="USB-зарядные устройства 5В/2А">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-зарядные устройства 5В/2А</p>
					<p class="shop__items__price"><span>Цена:</span>от 12 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/9.jpg" alt="Карты пямяти (в ассортименте)" loading="lazy"
						title="Карты пямяти (в ассортименте)">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Карты пямяти (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/10.jpg" alt="Портативные зарядные устройства" loading="lazy"
						title="Портативные зарядные устройства">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Портативные зарядные устройства</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/11.jpg" alt="Автомобильные зарядные устройства" loading="lazy"
						title="Автомобильные зарядные устройства">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Автомобильные зарядные устройства</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/12.jpg" alt="Защитные стекла" loading="lazy" title="Защитные стекла">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Защитные стекла</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/15.jpg" alt="Гарнитура и наушники" loading="lazy"
						title="Гарнитура и наушники">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Гарнитура и наушники</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/18.jpg" alt="Беспроводные наушники" loading="lazy"
						title="Беспроводные наушники">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Беспроводные наушники</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/16.jpg" alt="Портативные колонки" loading="lazy"
						title="Портативные колонки">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Портативные колонки</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>
			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<img src="/assets/images/shop/14.jpg" alt="Батарейки часовые (в ассортименте)" loading="lazy"
						title="Батарейки часовые (в ассортименте)">

				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Батарейки часовые (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

		</div>

	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}