{% set title = "RadioBazar - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам" %}
{% set description = "RadioBazar - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам в Минске, в 100 метрах от метро Спортивное, улица Бельского 2." %}
{% set keywords = "RadioBazar, аксессуары для телефонов в Минске метро Спортивное, аксессуары для планшетов в Минске метро Спортивное, аксессуары для часов в Минске метро Спортивное, аксессуары для навигаторов в Минске метро Спортивное, запчасти для телефонов в Минске метро Спортивное, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}


{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}


{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}