{% set title = "РадиоБазар - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам" %}
{% set description = "РадиоБазар - продажа аксессуаров и запчастей к телефонам, планшетам,  навигаторам в Гораде, в 100 метрах от метро Метро, улица Улица 2." %}
{% set keywords = "RadioBazar, аксессуары для телефонов в Гораде метро Метро, аксессуары для планшетов в Гораде метро Метро, аксессуары для часов в Гораде метро Метро, аксессуары для навигаторов в Гораде метро Метро, запчасти для телефонов в Гораде метро Метро, Ремонт телефонов Samsung, Ремонт телефонов Xiaomi, Ремонт телефонов Huawei, Ремонт телефонов Meizu, Ремонт телефонов Apple,
Ремонт телефонов Nokia, Ремонт телефонов HTC, Ремонт телефонов Lenovo, Ремонт телефонов Navitel, Ремонт телефонов Garmin, Ремонт телефонов GOCLEVER, Ремонт телефонов Pioneer, Sony, Prology" %}
{% set canonical = "https://tuman1122.github.io/" %}

{% extends  "./layouts/otherlayouts.njk" %}
{% block content %}

<div class="shop" id="shop">
	<div class="wrapper">
		<div class="row">
			<div class="shop__title">
				<h3 class="title__custom">Аксессуары и запчасти</h3>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/1.webp">
						<img src="assets/images/shop/1.jpg" alt="Аккумуляторы для телефонов Apple" loading="lazy"
							title="Аккумуляторы для телефонов Apple">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Apple</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/2.webp">
						<img src="assets/images/shop/2.jpg" alt="Аккумуляторы для телефонов Xiaomi" loading="lazy"
							title="Аккумуляторы для телефонов Xiaomi">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Xiaomi</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/3.webp">
						<img src="assets/images/shop/3.jpg" alt="Аккумуляторы для телефонов Huawei" loading="lazy"
							title="Аккумуляторы для телефонов Huawei">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Huawei</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/5.webp">
						<img src="assets/images/shop/5.jpg" alt="Аккумуляторы для телефонов Samsung" loading="lazy"
							title="Аккумуляторы для телефонов Samsung">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Аккумуляторы для телефонов Samsung</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/6.webp">
						<img src="assets/images/shop/6.jpg" alt="USB-кабеля (в ассортименте)" loading="lazy"
							title="USB-кабеля (в ассортименте)">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-кабеля (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/7.webp">
						<img src="assets/images/shop/7.jpg" alt="USB-зарядные устройства 5В/1А" loading="lazy"
							title="USB-зарядные устройства 5В/1А">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-зарядные устройства 5В/1А</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/8.webp">
						<img src="assets/images/shop/8.jpg" alt="USB-зарядные устройства 5В/2А" loading="lazy"
							title="USB-зарядные устройства 5В/2А">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">USB-зарядные устройства 5В/2А</p>
					<p class="shop__items__price"><span>Цена:</span>от 12 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/9.webp">
						<img src="assets/images/shop/9.jpg" alt="Карты пямяти (в ассортименте)" loading="lazy"
							title="Карты пямяти (в ассортименте)">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Карты пямяти (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/10.webp">
						<img src="assets/images/shop/10.jpg" alt="Портативные зарядные устройства" loading="lazy"
							title="Портативные зарядные устройства">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Портативные зарядные устройства</p>
					<p class="shop__items__price"><span>Цена:</span>от 30 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/11.webp">
						<img src="assets/images/shop/11.jpg" alt="Автомобильные зарядные устройства" loading="lazy"
							title="Автомобильные зарядные устройства">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Автомобильные зарядные устройства</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/12.webp">
						<img src="assets/images/shop/12.jpg" alt="Защитные стекла" loading="lazy"
							title="Защитные стекла">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Защитные стекла</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/15.webp">
						<img src="assets/images/shop/15.jpg" alt="Гарнитура и наушники" loading="lazy"
							title="Гарнитура и наушники">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Гарнитура и наушники</p>
					<p class="shop__items__price"><span>Цена:</span>от 10 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/18.webp">
						<img src="assets/images/shop/18.jpg" alt="Беспроводные наушники" loading="lazy"
							title="Беспроводные наушники">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Беспроводные наушники</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/16.webp">
						<img src="assets/images/shop/16.jpg" alt="Портативные колонки" loading="lazy"
							title="Портативные колонки">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Портативные колонки</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

			<div class="shop__items">
				<div class="shop__items__img">
					<div class="stock__text">Хит!!!</div>
					<picture class="portfolio__img">
						<source type="image/webp" srcset="assets/images/shop/14.webp">
						<img src="assets/images/shop/14.jpg" alt="Батарейки часовые (в ассортименте)" loading="lazy"
							title="Батарейки часовые (в ассортименте)">
					</picture>
				</div>
				<div class="shop__items__info">
					<p class="shop__items__title">Батарейки часовые (в ассортименте)</p>
					<p class="shop__items__price"><span>Цена:</span>от 40 рублей</p>
				</div>
				<button class="btn shop__btn"><span>Узнать подробности</span></button>
			</div>

		</div>

	</div>
</div>

{% include "./partials/contacts.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}