<div class="abouthome">
    <div class="wrapper">
        <div class="row">
            <section class="abouthome_content">
                <h2>Продажа пиломатериалов и дров в Минске и Минской области</h2>
                <p>Наша компания занимается производством и продажей пиломатериалов по всей Минской области, оптом и в розницу. Важным достоинством нашей компании является качество и ассортимент производимого товара. Продажа пиломатериалов осуществляется с доставкой по Минской области, Вы получаете пиломатериалы в точно указанные сроки, без задержек.</p>
                <p>Пиломатериалы — это одни из самых популярных материалов при строительстве домов, бань или отделке помещений. От качества сырья зависит внешний вид и характеристики материала уже в эксплуатации.</p>
                <p>Мы поможем Вам определиться и выбрать необходимый материал для Вашей подстройки, учитывая характеристики. В нашем каталоге есть все необходимые и самые популярные пиломатериалы, которые соответствуют всем нормам и требованиям. На нашем складе выдержана оптимальная влажность, поэтому в качестве сырья мы уверены. Покупая пиломатериалы в Пило-Материал Вы получаете качественный товар по оптимальной цене, приятный сервис и условия доставки и оплаты.</p>
                <p>Также предоставляем широкий выбор дров для отопления вашего дома</p>
                <p>Древесина – выгодное и экологически чистое топливо.</p>
                <p>Чтобы сэкономить время и силы, Вы можите купить сухие, колотые дрова с доставкой на дом. Большой выбор поленьев позволяет приобрести универсальные поленья для отопления помещений любых объемов, а также использовать дрова для приготовления пищи.</p>
                <p>У нас Вы всегда сможете купить любые виды дров по доступным ценам. Мы выполняем различные заказы максимально быстро и качественно, независимо от объемов поставки. Распил может производиться по индивидуальным заказам.</p>
                <p>Остались вопросы — позвоните нам. Мы всегда на связи!</p>
                <a href="tel:+375291112233" class="btn header_btn sswiper_btn"><span>Позвонить</span></a>
            </section>
        </div>
    </div>
</div>