<section class="goods">
    <div class="wrapper">
        <div class="row">
            <div class="goods_title">
                <h2>Принимаем заказы по Минску и области</h2>
            </div>
        </div>
    </div>
</section>