<main class="homepage">
    <div class="wrapper">
        <div class="row homopege__row">
            <div class="homepage__col--left">
                <h1 class="homepage__title">Грузовой автосервис в Минске</h1>
                <div class="homepage__calculate">
                    <a href="./" class="btn__calc"><img src="assets/images/icons/calculator.svg"
                            alt="Рассчитать ремонт"><span>Рассчитать ремонт</span></a>
                </div>
                <div class="homepage__request">
                    <a href="./" class="homepage__button">Оставить заявку</a>
                </div>
            </div>
            <div class="homepage__col--right">
                <ul class="homopage__advantages">
                    <li class="advantages__item">
                        <img src="assets/images/uploads/advantage1.svg" alt="Сжатые сроки выполнения ремонта">
                        <p>Сжатые сроки<br> выполнения<br> ремонта</p>
                    </li>
                    <li class="advantages__item">
                        <img src="assets/images/uploads/advantage2.svg" alt="Гарантия на работы и запчасти">
                        <p>Гарантия<br> на работы<br> и запчасти</p>
                    </li>
                    <li class="advantages__item">
                        <img src="assets/images/uploads/advantage3.svg" alt="Опытные сотрудники">
                        <p>Опытные<br> сотрудники</p>
                    </li>
                    <li class="advantages__item">
                        <img src="assets/images/uploads/advantage4.svg" alt="Выгодные цены">
                        <p>Выгодные<br> цены</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="scrolldown__top"> <button class="scrolldown__btn">Цены</button></div>
</main>