<section class="container goods">
    <div class="wrapper">
        <div class="row">
            <div class="goods_title">
                <h2>Принимаем заказы по Минску и области</h2>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/no-img-700.jpg" alt="Кругляк"></div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/churbaki1-300x225.jpg" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/no-img-700.jpg" alt="Кругляк"></div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/churbaki1-300x225.jpg" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
            <div class="goods_cards">
                <div class="goods_cards_wrap">
                    <div class="goods_cards_img"><img src="./assets/images/uploads/DR_1_1-min-1.png" alt="Кругляк">
                    </div>
                    <a href="./product-page.html" class="goods_cards_title">
                        <h4>Кругляк</h4>
                    </a>
                    <div class="goods_cards_volume">
                        <p><b>Минимальный заказ:</b> 3 м<sup>3</sup></p>
                    </div>
                    <div class="goods_cards_price"><span><b>Цена:</b> от 100 до 200 руб.<br>(в зависимости от
                            породы)</span></div>
                    <div class="goods_cards_button">
                        <a href="product-page.html" class="abouthome_btn"><span>Купить</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>