<div class="container product">
    <div class="wrapper">
        <div class="row product_header">
            <div class="product_col product_images">
                <picture>
                    <img src="./assets/images/no-img-700.png" alt="Название товара" loading="lazy"
                        title="Название товара">
                </picture>
            </div>
            <div class="product_col product_description">
                <h3 class="product_description_title">Доска 40х100х6000 мм.</h3>
                <ul class="product_description_list">
                    <li>
                        <p>Наличие</p>
                        <span>На складе</span>
                    </li>
                    <li>
                        <p>Сорт</p>
                        <span>2</span>
                    </li>
                    <li>
                        <p>Степень влажности</p>
                        <span>15%</span>
                    </li>
                    <li>
                        <p>Способ сушки</p>
                        <span>Естественная</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Материал</p>
                        <span>обрезной, сухой, строганный</span>
                    </li>
                    <li>
                        <p>Доставка</p>
                        <span>По Беларуси</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row product_footer">
            <div class="product_toggle product_toggle-active">Описание</div>
            <div class="product_toggle">Оплата и доставка</div>
        </div>
        <div class="row product_toggle-1">
            <div class="product_col product_description">
                <h3 class="product_description_title">Доска 40х100х6000 мм.</h3>
                <ul class="product_description_list">
                    <li>
                        <p>Наличие</p>
                        <span>На складе</span>
                    </li>
                    <li>
                        <p>Сорт</p>
                        <span>2</span>
                    </li>
                    <li>
                        <p>Степень влажности</p>
                        <span>15%</span>
                    </li>
                    <li>
                        <p>Способ сушки</p>
                        <span>Естественная</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Материал</p>
                        <span>обрезной, сухой, строганный</span>
                    </li>
                    <li>
                        <p>Доставка</p>
                        <span>По Беларуси</span>
                    </li>
                </ul>
            </div>
            <div class="product_col product_col_content">
                <h3>Описание</h3>
                <p>Брус широко распространен в строительстве домов, бань, гаражей, дачных домиков.</p>
                <p>Популярность его обеспечена небольшой ценой, простотой технологией монтажа. Строить из бруса, изготовленного качественно - удобно и быстро. Ровные поверхности со всех сторон плотно прилегают друг к другу и не образуют зазоров и щелей. Обычный нестроганый брус имеет прямоугольную или квадратную форму сечения от 50 мм до 400 мм.</p>
                <p>Технология его изготовления проста. При их производстве бревна обрабатывают с 4-х сторон. Поэтому стоимость ниже по сравнению с другими. Применяется брус для возведения стен, перегородок, перекрытий между этажами, стропильной системы кровли.</p>
            </div>
        </div>
        <div class="row product_toggle-2">
            <div class="product_col product_description">
                <h3 class="product_description_title">Доска 40х100х6000 мм.</h3>
                <ul class="product_description_list">
                    <li>
                        <p>Наличие</p>
                        <span>На складе</span>
                    </li>
                    <li>
                        <p>Сорт</p>
                        <span>2</span>
                    </li>
                    <li>
                        <p>Степень влажности</p>
                        <span>15%</span>
                    </li>
                    <li>
                        <p>Способ сушки</p>
                        <span>Естественная</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Вид материала</p>
                        <span>Ель, сосна</span>
                    </li>
                    <li>
                        <p>Материал</p>
                        <span>обрезной, сухой, строганный</span>
                    </li>
                    <li>
                        <p>Доставка</p>
                        <span>По Беларуси</span>
                    </li>
                </ul>
            </div>
            <div class="product_col product_images">
                <picture>
                    <img src="./assets/images/no-img-700.png" alt="Название товара" loading="lazy"
                        title="Название товара">
                </picture>
            </div>
        </div>
    </div>