<div class="slider_wrapper">
	<div class="swiper swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<picture>
					<!-- <source srcset="" media="(max-width: 768px)"> -->
					<!-- <source srcset="" media="(max-width: 1024px)"> -->
					<img  src="./assets/images/slider/01_home-1-slide-1.jpg"
						alt=""
						loading="lazy"
						title="">
				</picture>
				<div class="swiper_background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper_content">
								<h2>Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает</h2>
								<p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает актуальность экономической целесообразности принимаемых изменений.</p>
								<a href="tel:+375291112233" class="btn header_btn sswiper_btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="swiper-slide">
				<picture>
					<!-- <source srcset="" media="(max-width: 768px)"> -->
					<!-- <source srcset="" media="(max-width: 1024px)"> -->
					<img  src="./assets/images/slider/01_home-1-slide-2.jpg"
						alt=""
						loading="lazy"
						title="">
				</picture>
				<div class="swiper_background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper_content">
								<h2>Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает</h2>
								<p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает актуальность экономической целесообразности принимаемых изменений.</p>
								<a href="tel:+375291112233" class="btn header_btn sswiper_btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="swiper-slide">
				<picture>
					<!-- <source srcset="" media="(max-width: 768px)"> -->
					<!-- <source srcset="" media="(max-width: 1024px)"> -->
					<img  src="./assets/images/slider/01_home-1-slide-3.jpg"
						alt=""
						loading="lazy"
						title="">
				</picture>
				<div class="swiper_background">
					<div class="wrapper">
						<div class="row">
							<div class="swiper_content">
								<h2>Задача организации, в особенности же реализация намеченных плановых заданий обеспечивает</h2>
								<p>Значимость этих проблем настолько очевидна, что дальнейшее развитие различных форм деятельности обеспечивает актуальность экономической целесообразности принимаемых изменений.</p>
								<a href="tel:+375291112233" class="btn header_btn sswiper_btn"><span>Позвонить</span></a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="swiper-pagination"></div>
		<!-- <div class="swiper-button-prev"></div> -->
		<!-- <div class="swiper-button-next"></div> -->
	</div>
</div>
