.abouthome {
    .markup();
}
.abouthome_content {
    .title_home();
    p{
        font-weight: 400;
        color: @text-color-l;
        font-size: 16px;
        .lg(font-size, 18px);
    }
}
.abouthome_btn{
    .btn();
}