<section class="first__section">
	<div class="wrapper">
		<div class="ad ad__top">
			<img src="./assets/images/adhorizontal.jpg" alt="реклама">
		</div>
		<div class="row first__row">
			<div class="first__item first__item--6">
				<div class="pattern">
					<div class="overlay item__title"
						style="background-image:  url(assets/images/blog/electronics/1.jpg);">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima?</a>
							</h3>
							<div class="item__social">
								<div class="item__comments" title="количество комментариев">
									<i class="fa fa-comments"></i>
									<a href="#disqus_thread" class="item__comments__count">26</a>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-url="path"
									date-media="images/blog/electronics/1.jpg" date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="first__item first__item--6">
				<div class="pattern">
					<div class="overlay item__title"
						style="background-image:  url(assets/images/blog/electronics/2.jpg);">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima?</a>
							</h3>
							<div class="item__social">
								<div class="item__comments" title="количество комментариев">
									<i class="fa fa-comments"></i>
									<a href="#disqus_thread" class="item__comments__count">26</a>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-url="path"
									date-media="images/blog/electronics/1.jpg" date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="first__item first__item--4">
				<div class="pattern">
					<div class="overlay item__title"
						style="background-image:  url(assets/images/blog/electronics/3.jpg);">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima?</a>
							</h3>
							<div class="item__social">
								<div class="item__comments" title="количество комментариев">
									<i class="fa fa-comments"></i>
									<a href="#disqus_thread" class="item__comments__count">26</a>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-url="path"
									date-media="images/blog/electronics/1.jpg" date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="first__item first__item--4">
				<div class="pattern">
					<div class="overlay item__title"
						style="background-image:  url(assets/images/blog/electronics/4.jpg);">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima?</a>
							</h3>
							<div class="item__social">
								<div class="item__comments" title="количество комментариев">
									<i class="fa fa-comments"></i>
									<a href="#disqus_thread" class="item__comments__count">26</a>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-url="path"
									date-media="images/blog/electronics/1.jpg" date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="first__item first__item--4">
				<div class="pattern">
					<div class="overlay item__title"
						style="background-image:  url(assets/images/blog/electronics/5.jpg);">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, minima?</a>
							</h3>
							<div class="item__social">
								<div class="item__comments" title="количество комментариев">
									<i class="fa fa-comments"></i>
									<a href="#disqus_thread" class="item__comments__count">26</a>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-url="path"
									date-media="images/blog/electronics/1.jpg" date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>