    <!-- Полифил, позволяющий обеспечивать базовые стили HTML5 для Internet Explorer 6-8, Safari 4.x, Firefox 3.x. и iPhone 3.x.  -->
    <!--[if lt IE 9]>
	<script src="assets/libs/html5shiv/es5-shim.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv.min.js"></script>
	<script src="assets/libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="assets/libs/html5shiv/respond.min.js"></script>
    <![endif]-->

    <script src="assets/libs/jquery.min.js"></script>
    <script src="assets/libs/likely/likely.js"></script>
    <script src="assets/libs/prognroll/prognroll.min.js"></script>
    <script src="assets/js/script.js"></script>
    </body>

    </html>