<section class="second__section">
	<div class="wrapper">
		<div class="row second__row">
			<div class="second__item second__item--8">
				<h2><a href="#">Новости IT</a></h2>
				<div class="row news__wrap">
					<div class="second__item--6">
						<div class="pattern">
							<a href="#" class="overlay news__item"
								style="background-image: url(assets/images/blog/news/6.jpg);">
								<div class="news__item__content">
									<h3>Lorem ipsum dolor sit amet consectetur.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="second__item--6">
						<div class="pattern">
							<a href="#" class="overlay news__item"
								style="background-image: url(assets/images/blog/news/7.jpg);">
								<div class="news__item__content">
									<h3>Lorem ipsum dolor sit amet consectetur.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="second__item--6">
						<div class="pattern">
							<a href="#" class="overlay news__item"
								style="background-image: url(assets/images/blog/news/8.jpg);">
								<div class="news__item__content">
									<h3>Lorem ipsum dolor sit amet consectetur.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
					<div class="second__item--6">
						<div class="pattern">
							<a href="#" class="overlay news__item"
								style="background-image: url(assets/images/blog/news/9.jpg);">
								<div class="news__item__content">
									<h3>Lorem ipsum dolor sit amet consectetur.</h3>
									<span class="date">21/06/2020</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="second__item row second__item--4">
				<div class="asside__box">
					<img src="assets/images/vk-witget.jpg" alt="Вконтакте" class="img__responsive">
				</div>
				<div class="asside__box">
					<img src="/assets/images/adcube.jpg" alt="Реклама" class="img__responsive">
				</div>
			</div>
		</div>
	</div>
</section>