<section class="third__section dark__section">
	<div class="wrapper">
		<h2><a href="#">Обзоры</a></h2>
		<div class="row third__row">
			<div class="third__item">
				<div class="third__item__row third__item--dark">
					<a href="#">
						<img src="assets/images/blog/reviews/10.jpg" alt="Lorem ipsum dolor sit amet."
							class="img__responsive img__width overlay" title="Lorem ipsum dolor sit.">
					</a>
					<div class="third__item__meta">
						<div class="item__coments" title="Количество комментариев">
							<span class="date">25/12/2019</span>
							<i class="fa fa-comments"></i>
							<a href="#disqus_thread" class="item__comments__count">50</a>
						</div>
					</div>
					<h4><a href="#">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
					</h4>
				</div>
			</div>
			<div class="third__item">
				<div class="third__item__row third__item--dark">
					<a href="#">
						<img src="assets/images/blog/reviews/11.jpg" alt="Lorem ipsum dolor sit amet."
							class="img__responsive img__width overlay" title="Lorem ipsum dolor sit.">
					</a>
					<div class="third__item__meta">
						<div class="item__coments" title="Количество комментариев">
							<span class="date">25/12/2019</span>
							<i class="fa fa-comments"></i>
							<a href="#disqus_thread" class="item__comments__count">50</a>
						</div>
					</div>
					<h4><a href="#">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
					</h4>
				</div>
			</div>
			<div class="third__item">
				<div class="third__item__row third__item--dark">
					<a href="#">
						<img src="assets/images/blog/reviews/12.jpg" alt="Lorem ipsum dolor sit amet."
							class="img__responsive img__width overlay" title="Lorem ipsum dolor sit.">
					</a>
					<div class="third__item__meta">
						<div class="item__coments" title="Количество комментариев">
							<span class="date">25/12/2019</span>
							<i class="fa fa-comments"></i>
							<a href="#disqus_thread" class="item__comments__count">50</a>
						</div>
					</div>
					<h4><a href="#">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
					</h4>
				</div>
			</div>
			<div class="third__item">
				<div class="third__item__row third__item--dark">
					<a href="#">
						<img src="assets/images/blog/reviews/13.jpg" alt="Lorem ipsum dolor sit amet."
							class="img__responsive img__width overlay" title="Lorem ipsum dolor sit.">
					</a>
					<div class="third__item__meta">
						<div class="item__coments" title="Количество комментариев">
							<span class="date">25/12/2019</span>
							<i class="fa fa-comments"></i>
							<a href="#disqus_thread" class="item__comments__count">50</a>
						</div>
					</div>
					<h4><a href="#">Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing.</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>