<section class="type__one">
	<div class="wrapper">
		<div class="row type__one__row">
			<div class="type__one--12">
				<h2 class="type__one__header"><a href="#">DIY</a></h2>
			</div>
			<div class="type__one--7">
				<div class="type__one__first">
					<a href="#" title="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
						<img src="assets/images/blog/diy/1.jpg"
							alt="Lorem ipsum dolor sit amet consectetur adipisicing elit."
							class="img__responsive img__width">
					</a>
					<div class="item__social">
						<div class="item__comments" title="Количество комментариев">
							<i class="fa fa-comment"></i><a class="item__comments__count" href="#disqus_thread">52</a>
							<span class="date">20/08/2020</span>
						</div>
					</div>
					<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
				</div>
			</div>
			<div class="type__one--5 item__title--white">
				<div class="pattern">
					<div class="overlay item__title" style="background-image: url(assets/images/blog/diy/2.jpg)">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
							<div class="item__social">
								<div class="item__comments" title="Количество комментариев">
									<i class="fa fa-comment"></i><a class="item__comments__count"
										href="#disqus_thread">52</a>
									<span class="date">20/08/2020</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="pattern">
					<div class="overlay item__title" style="background-image: url(assets/images/blog/diy/3.jpg)">
						<div class="item__title__content">
							<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
							<div class="item__social">
								<div class="item__comments" title="Количество комментариев">
									<i class="fa fa-comment"></i><a class="item__comments__count"
										href="#disqus_thread">52</a>
									<span class="date">20/08/2020</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>