{% include "./partials/htmlUp.njk" %}

{% include "./partials/header.njk" %}

<div class="pattern pattern__cat__header">
	<div class="cat__header header__about">
		<div class="cat__header__block">
			<h1>О сайте DemoLayout</h1>
		</div>
	</div>
</div>
<div class="article__content">
	<div class="wrapper">
		<div class="row">
			<div class="article__col--8">
				<article class="main__article">
					<div class="article__body">
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque amet, alias beatae distinctio
							deleniti illo neque autem, consectetur doloribus similique a quaerat unde fugit. Amet beatae
							modi dolor. Quaerat incidunt, recusandae, laboriosam laudantium earum, accusamus vel porro
							ducimus dolorem assumenda fugit suscipit commodi reprehenderit eius hic? Fuga laboriosam
							sunt
							aliquam!</p>
					</div>
				</article>
			</div>
			<div class="article__col--4">
				<aside class="main__aside">
					<div class="asside__box">
						<img src="assets/images/vk-witget.jpg" alt="Вконтакте" class="img__responsive">
					</div>

					<div class="asside__box">
						<div class="latest__box">
							<div class="latest__box__header">Последние статьи:</div>
							<div class="latest__box__list">
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Электроника</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Обзоры</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit amet
											consectetur adipisicing elit. Laborum, pariatur ex. Repellendus nisi eos
											facere.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Новости IT</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit. Dolores repellat iusto eveniet.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Лайфхаки</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">DIY</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="asside__box">
						<img src="/assets/images/adcube-2.jpg" alt="Реклама" class="img__responsive">
					</div>

					<div class="asside__box">
						Блок коментариев
					</div>
				</aside>
			</div>
		</div>
	</div>
</div>

{% include "./partials/footer.njk" %}


{% include "./partials/htmlEnd.njk" %}