{% include "./partials/htmlUp.njk" %}
<div>
	{% include "./partials/header.njk" %}

	<section class="pattern pattern__cat__header">
		<div class="cat__header overlay" style="background-image: url(assets/images/blog/electronics/_test.jpg);">
			<div class="wrapper">
				<div class="row">
					<div class="cat__item--7">
						<div class="cat__header__block">
							<h1>Lorem, ipsum.</h1>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat cumque, commodi
								nostrum explicabo dolore.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="cat__list__first">
		<div class="wrapper">
			<div class="ad ad__top">
				<img src="./assets/images/adhorizontal.jpg" alt="реклама">
			</div>
			<div class="type__one type__one__cat">
				<div class="row type__one__row">
					<div class="type__one--7">
						<div class="type__one__first">
							<a href="#" title="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
								<img src="assets/images/blog/diy/1.jpg"
									alt="Lorem ipsum dolor sit amet consectetur adipisicing elit."
									class="img__responsive img__width">
							</a>
							<div class="item__social">
								<div class="item__comments" title="Количество комментариев">
									<i class="fa fa-comment"></i><a class="item__comments__count"
										href="#disqus_thread">52</a>
									<span class="date">20/08/2020</span>
								</div>
							</div>
							<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a></h3>
						</div>
					</div>
					<div class="type__one--5 item__title--white">
						<div class="pattern">
							<div class="overlay item__title"
								style="background-image: url(assets/images/blog/diy/2.jpg)">
								<div class="item__title__content">
									<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
									</h3>
									<div class="item__social">
										<div class="item__comments" title="Количество комментариев">
											<i class="fa fa-comment"></i><a class="item__comments__count"
												href="#disqus_thread">52</a>
											<span class="date">20/08/2020</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="pattern">
							<div class="overlay item__title"
								style="background-image: url(assets/images/blog/diy/3.jpg)">
								<div class="item__title__content">
									<h3><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit.</a>
									</h3>
									<div class="item__social">
										<div class="item__comments" title="Количество комментариев">
											<i class="fa fa-comment"></i><a class="item__comments__count"
												href="#disqus_thread">52</a>
											<span class="date">20/08/2020</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="cat__list">
		<div class="wrapper">
			<div class="row">
				<div class="cat__list__item--8">
					<div class="cat__list__wrap">
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/6.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/7.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/8.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/9.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/6.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/7.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/8.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/9.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/6.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
						<a href="#" class="cat__list__item">
							<div class="row">
								<div class="cat__list__col--6">
									<div class="pattern">
										<img src="assets/images/blog/news/7.jpg" alt="alt"
											class="img__responsive overlay">
									</div>
								</div>
								<div class="cat__list__col--6">
									<h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos.</h3>
									<div class="date">06/08/2020</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, adipisci dolores
										molestiae dolorum reiciendis recusandae quibusdam amet. Libero, tempore
										consequuntur.</p>
								</div>
							</div>
						</a>
					</div>
					<section class="s__more pagination__section pagination__section__first">
						<div class="wrapper">
							<a href="#" class="button">Следующая страница <i class="fa fa-angle-double-right"></i></a>
							<div class="pagination">
								<span class="pagination__left" title="Предыдущая страница">&laquo;</span>
								<span class="active">1</span>
								<a href="#">2</a>
								<a href="#">3</a>
								<a href="#">4</a>
								<a href="#">5</a>
								<a href="#" class="pagination__right" title="Следующая страница">&raquo;</a>
							</div>
						</div>
					</section>
				</div>
				<aside class="second__item row second__item--4 cat__list__item--4">
					<div class="asside__box">
						<img src="assets/images/vk-witget.jpg" alt="Вконтакте" class="img__responsive">
					</div>

					<div class="asside__box">
						<div class="latest__box">
							<div class="latest__box__header">Последние статьи:</div>
							<div class="latest__box__list">
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Электроника</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Обзоры</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit amet
											consectetur adipisicing elit. Laborum, pariatur ex. Repellendus nisi eos
											facere.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Новости IT</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit. Dolores repellat iusto eveniet.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">Лайфхаки</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
								<div class="latest__box__item">
									<a href="#" class="latest__box__catname">DIY</a>
									<div class="latest__box__body">
										<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
											consectetur adipisicing elit.</a>
										<div class="latest__box__footer">
											<div class="item__comments" title="Количество комментариев">
												<i class="fa fa-comment"></i><a class="item__comments__count"
													href="#disqus_thread">52</a>
												<span class="date">20/08/2020</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="asside__box">
						<img src="/assets/images/adcube-2.jpg" alt="Реклама" class="img__responsive">
					</div>

					<div class="asside__box">
						Блок коментариев
					</div>
				</aside>
			</div>
		</div>
		<section class="s__more pagination__section">
			<div class="wrapper">
				<a href="#" class="button">Следующая страница <i class="fa fa-angle-double-right"></i></a>
				<div class="pagination">
					<span class="pagination__left" title="Предыдущая страница">&laquo;</span>
					<span class="active">1</span>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#" class="pagination__right" title="Следующая страница">&raquo;</a>
				</div>
			</div>
		</section>


	</section>
	{% include "./partials/footer.njk" %}

</div>

{% include "./partials/htmlEnd.njk" %}