{% include "./partials/htmlUp.njk" %}
<div class="ispage">
	{% include "./partials/header.njk" %}
	<header class="page__header overlay" style="background-image: url(assets/images/example.jpg);">
		<div class="page__header__content">
			<div class="wrapper">
				<div class="row">
					<div class="page__header--7">
						<div class="page__header__meta">
							<a href="#" class="page__category__link">Новости IT</a>
							<span class="date">20/08/2020</span>
							<h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, blanditiis.</h1>
							<div class="item__social">
								<div class="item__comments" title="Количество комментариев">
									<i class="fa fa-comment"><a href="#disqus_thread"
											class="item__comments__count">99</a></i>
								</div>
								<div class="fa fa-share-alt" title="Поделится в соц. сетях"></div>
								<div class="likely likely__custom" date-media="images/blog/electronics/1.jpg"
									date-title="Lorem ipsum dolor sit amet.">
									<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
									<div class="facebook" title="Поделится в Facebook">Facebook</div>
									<div class="twitter" title="Поделится в Twitter">Twitter</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="article__content">
		<div class="wrapper">
			<div class="row">
				<div class="article__col--8">
					<article class="main__article">
						<nav class="breadcrumbs">
							<ul>
								<li><a href="/">Главная</a></li>
								<li><a href="#">Новости IT</a></li>
								<li class="active">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus,
									blanditiis.</li>
							</ul>
						</nav>
						<div class="article__body">
							<div class="ad article__top__ad">
								<img class="img__responsive" src="./assets/images/adhorizontal.jpg" alt="реклама">
							</div>

							<blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque et qui
								reprehenderit ab dicta dolore repudiandae quod recusandae odit itaque. Minus magni nulla
								nostrum in blanditiis beatae soluta temporibus commodi iure, aliquid excepturi sapiente
								ratione ex consequatur! Unde quidem aliquid adipisci atque mollitia nam odit temporibus?
								Neque nostrum exercitationem in dignissimos maxime hic repellendus ut.</blockquote>

							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quo, soluta expedita
								ratione corrupti reprehenderit alias quia illo eveniet facilis!</p>
							<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis asperiores fugit
								rerum quibusdam at quae, placeat debitis non enim, natus provident temporibus eveniet,
								architecto dolores fugiat. Distinctio facere at quo repellat tempora porro, tempore
								explicabo. Fugiat, quidem magni! Inventore possimus fuga, consectetur voluptates
								temporibus expedita, nesciunt praesentium id in debitis quo porro? Nam nostrum tempore
								ratione quis illo, dolores temporibus!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cum perferendis
								recusandae fugiat, voluptatibus nulla veniam modi doloremque mollitia molestias natus
								iste magni reiciendis, quam inventore deserunt exercitationem similique atque!</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim soluta debitis inventore
								voluptatum quod aut deleniti tenetur reiciendis numquam totam, error praesentium hic
								incidunt! Id, error? Perferendis ipsum quae nesciunt dicta amet, fugiat qui nam nisi.
								Numquam consectetur totam quos sunt magnam optio consequatur ipsa.</p>
							<div class="video"><iframe src="https://www.youtube.com/embed/iNPE0zGucTo"
									allowfullscreen></iframe></div>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe cupiditate ullam minus
								dolor architecto nobis? Voluptate facere officia molestias vitae distinctio ad dolore
								quo sit, nemo placeat saepe velit eveniet minima corporis esse nulla accusamus!</p>
							<blockquote class="twitter-tweet" data-lang="ru">
								<p lang="ru" dir="ltr">С чего начать работу над дизайном и где брать вдохновение <a
										href="https://t.co/T4JOvmd2HZ">https://t.co/T4JOvmd2HZ</a> с помощью <a
										href="https://twitter.com/YouTube?ref_src=twsrc%5Etfw">@YouTube</a></p>&mdash;
								WebDesign Master (@agragregra) <a
									href="https://twitter.com/agragregra/status/945946525913493505?ref_src=twsrc%5Etfw">27
									декабря 2017 г.</a>
							</blockquote>
							<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
							<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem labore iste
								dolores fugit ratione consectetur voluptate at inventore sint nam.</p>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, dolore. Eligendi,
								officiis. Labore laboriosam maiores animi blanditiis natus, recusandae doloribus
								molestiae reprehenderit similique sed reiciendis voluptatem nostrum, soluta quibusdam
								maxime.</p>
							<img src="assets/images/example.jpg" alt="title">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit incidunt quod
								provident, omnis voluptas aliquam, ex laudantium sunt dolorum ab facere a ipsam sapiente
								numquam. Distinctio dolor pariatur illum temporibus animi eaque dignissimos ratione!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae corporis
								unde amet, doloremque aspernatur consectetur, dicta eum recusandae eos fugiat
								accusantium architecto minima ratione quo dolor similique.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae corporis
								unde amet, doloremque aspernatur consectetur, dicta eum recusandae eos fugiat
								accusantium architecto minima ratione quo dolor similique.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae corporis
								unde amet, doloremque aspernatur consectetur, dicta eum recusandae eos fugiat
								accusantium architecto minima ratione quo dolor similique.</p>

							<h2>Lorem ipsum dolor sit amet consectetur adipisicing.</h2>
							<h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
							<h4>Lorem ipsum dolor sit amet consectetur adipisicing.</h4>
							<h5>Lorem ipsum dolor sit amet consectetur adipisicing.</h5>
							<h6>Lorem ipsum dolor sit amet consectetur adipisicing.</h6>
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat velit incidunt quod
								provident, omnis voluptas aliquam, ex laudantium sunt dolorum ab facere a ipsam sapiente
								numquam. Distinctio dolor pariatur illum temporibus animi eaque dignissimos ratione!</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae corporis
								unde amet, doloremque aspernatur consectetur, dicta eum recusandae eos fugiat
								accusantium architecto minima ratione quo dolor similique.</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur molestiae corporis
								unde amet, doloremque aspernatur consectetur, dicta eum recusandae eos fugiat
								accusantium architecto minima ratione quo dolor similique.</p>

						</div>

						<div class="likely__on__page">
							<div class="likely " date-media="images/blog/electronics/1.jpg"
								date-title="Lorem ipsum dolor sit amet.">
								<div class="vkontakte" title="Поделится в Вконтакте">Вконтакте</div>
								<div class="facebook" title="Поделится в Facebook">Facebook</div>
								<div class="twitter" title="Поделится в Twitter">Twitter</div>
								<div class="odnoklassniki" title="Класснуть">Класснуть</div>
							</div>
						</div>

						<div class="ad article__top__ad">
							<img class="img__responsive" src="./assets/images/adhorizontal.jpg" alt="реклама">
						</div>

						<div class="read__more">
							<div class="read__more__header">Читать еще:</div>
							<ul>
								<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing.</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet consectetur.</a></li>
								<li><a href="#">Lorem ipsum dolor sit amet.</a></li>
								<li><a href="#">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</a></li>
							</ul>
						</div>

						<div class="comments">
							//Комментарии
						</div>
					</article>
				</div>
				<div class="article__col--4">
					<aside class="main__aside">
						<div class="asside__box">
							<img src="assets/images/vk-witget.jpg" alt="Вконтакте" class="img__responsive">
						</div>

						<div class="asside__box">
							<div class="latest__box">
								<div class="latest__box__header">Последние статьи:</div>
								<div class="latest__box__list">
									<div class="latest__box__item">
										<a href="#" class="latest__box__catname">Электроника</a>
										<div class="latest__box__body">
											<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
												consectetur adipisicing elit.</a>
											<div class="latest__box__footer">
												<div class="item__comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item__comments__count"
														href="#disqus_thread">52</a>
													<span class="date">20/08/2020</span>
												</div>
											</div>
										</div>
									</div>
									<div class="latest__box__item">
										<a href="#" class="latest__box__catname">Обзоры</a>
										<div class="latest__box__body">
											<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit amet
												consectetur adipisicing elit. Laborum, pariatur ex. Repellendus nisi eos
												facere.</a>
											<div class="latest__box__footer">
												<div class="item__comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item__comments__count"
														href="#disqus_thread">52</a>
													<span class="date">20/08/2020</span>
												</div>
											</div>
										</div>
									</div>
									<div class="latest__box__item">
										<a href="#" class="latest__box__catname">Новости IT</a>
										<div class="latest__box__body">
											<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
												consectetur adipisicing elit. Dolores repellat iusto eveniet.</a>
											<div class="latest__box__footer">
												<div class="item__comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item__comments__count"
														href="#disqus_thread">52</a>
													<span class="date">20/08/2020</span>
												</div>
											</div>
										</div>
									</div>
									<div class="latest__box__item">
										<a href="#" class="latest__box__catname">Лайфхаки</a>
										<div class="latest__box__body">
											<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
												consectetur adipisicing elit.</a>
											<div class="latest__box__footer">
												<div class="item__comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item__comments__count"
														href="#disqus_thread">52</a>
													<span class="date">20/08/2020</span>
												</div>
											</div>
										</div>
									</div>
									<div class="latest__box__item">
										<a href="#" class="latest__box__catname">DIY</a>
										<div class="latest__box__body">
											<a href="#" class="latest__box__item__header">Lorem ipsum dolor sit, amet
												consectetur adipisicing elit.</a>
											<div class="latest__box__footer">
												<div class="item__comments" title="Количество комментариев">
													<i class="fa fa-comment"></i><a class="item__comments__count"
														href="#disqus_thread">52</a>
													<span class="date">20/08/2020</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="asside__box">
							<img src="/assets/images/adcube-2.jpg" alt="Реклама" class="img__responsive">
						</div>

						<div class="asside__box">
							Блок коментариев
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>

	{% include "./partials/footer.njk" %}

</div>

{% include "./partials/htmlEnd.njk" %}