img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.none {
  display: none;
}
html,
body {
  width: 100%;
  min-height: 100%;
  padding: 0;
  font-family: 'Gabriela', serif;
  color: #490000;
}
a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.wrapper {
  max-width: 1600px;
  min-height: 100%;
  margin: 0 auto;
}
.header {
  padding: 0;
}
.header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #180b0b;
  color: #fff;
  border-top: 1px solid #c6c6c6;
  padding-left: 25px;
}
@media (min-width: 576px) {
  .header__menu {
    padding-left: 50px;
  }
}
@media (min-width: 1200px) {
  .header__menu {
    padding-left: 160px;
    padding-right: 20px;
  }
}
.header__menu .logo__wraper {
  min-width: 200px;
}
.header__menu .logo__wraper .logo__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 75px;
  height: 75px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.header__menu .logo__wraper .logo__item__images {
  width: 72%;
}
.header__menu .logo__wraper .logo__item h2 {
  color: #fff;
  position: absolute;
  left: 60px;
  font-size: 18px;
  letter-spacing: 1.6px;
  margin: 0;
  padding: 0;
}
.header__menu .logo__wraper .logo__item h2 span {
  font-size: 22px;
  color: #532824;
}
.header__box {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 14, 13, 0.6)), to(rgba(29, 14, 13, 0.6))), url('../images/background-1.jpg');
  background: -o-linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-1.jpg');
  background: linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding-top: 25px;
  padding-bottom: 120px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .header__box {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 120px;
}
.header__social a {
  font-size: 23px;
  margin-right: 20px;
}
.header__social a:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .header__social {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-right: 150px;
  }
}
.header__bottom {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #490000;
  background-color: #fff;
  padding: 10px 37px 13px 37px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none;
  padding: 14px 30px 15px;
}
@media (min-width: 768px) {
  .header__bottom {
    font-size: 23px;
  }
}
.header__bottom:active,
.header__bottom:hover {
  color: #fff;
  background-color: #532824;
  text-decoration: none;
}
@media (min-width: 992px) {
  .header__bottom:active,
  .header__bottom:hover {
    -webkit-box-shadow: 0px 0px 40px 0px #532824;
    box-shadow: 0px 0px 40px 0px #532824;
  }
}
@media (min-width: 992px) {
  .header__bottom {
    padding: 14px 40px 15px;
  }
}
.header__title {
  margin: 0 auto;
  max-width: 915px;
  text-align: center;
}
.header__title h1 {
  font-size: 42px;
  line-height: 1.2;
  letter-spacing: 2px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 70px;
}
@media (min-width: 576px) {
  .header__title h1 {
    font-size: 47px;
  }
}
@media (min-width: 768px) {
  .header__title h1 {
    font-size: 60px;
    margin-bottom: 120px;
  }
}
@media (min-width: 992px) {
  .header__title h1 {
    line-height: 1.3;
    font-size: 67px;
    margin-bottom: 200px;
  }
}
@media (min-width: 768px) {
  .header__title {
    text-align: left;
  }
}
.burger-menu {
  width: 100%;
}
.burger-menu__button {
  position: fixed;
  top: 10px;
  right: 25px;
  z-index: 30;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #2a2a2a;
  background-color: #490000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media (min-width: 992px) {
  .burger-menu__button {
    display: none;
    background-color: none;
  }
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 40px;
  height: 6px;
  background-color: #fff;
}
.burger-menu__lines {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
  content: '';
  top: -12px;
}
.burger-menu__lines::after {
  content: '';
  top: 12px;
}
.burger-menu_active .burger-menu__button,
.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.burger-menu__nav {
  padding-top: 80px;
  position: fixed;
  top: 0;
  z-index: 20;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 100%;
  background-color: #2a2a2a;
  background-color: #490000;
  overflow-y: auto;
  right: -145%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 992px) {
  .burger-menu__nav {
    padding: 0;
    position: static;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: auto;
    margin: 0;
    background-color: inherit;
  }
}
.burger-menu_active .burger-menu__nav {
  right: 0;
}
.burger-menu__link {
  padding: 15px 30px;
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
}
.burger-menu__link::before {
  content: "";
  width: 0;
  height: 0.1em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #c09898;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 576px) {
  .burger-menu__link {
    font-size: 23px;
  }
}
@media (min-width: 768px) {
  .burger-menu__link {
    font-size: 25px;
  }
}
@media (min-width: 992px) {
  .burger-menu__link {
    text-transform: none;
    letter-spacing: normal;
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #fff;
    margin-right: 35px;
  }
  .burger-menu__link:last-child {
    margin-right: 0;
  }
}
@media (min-width: 1200px) {
}
.burger-menu__link:hover,
.burger-menu__link:active {
  color: #c09898;
  text-decoration: none;
}
.burger-menu__link:hover::before,
.burger-menu__link:active::before {
  width: 100%;
  left: 0;
  background: #c09898;
}
.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.burger-menu_active .burger-menu__overlay {
  display: block;
}
.company__wraper {
  text-align: center;
  padding: 0;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .company__wraper {
    padding-top: 120px;
  }
}
.company__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .company__title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .company__title {
    margin-bottom: 50px;
  }
}
.company__info {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 14, 13, 0.6)), to(rgba(29, 14, 13, 0.6))), url('../images/background-2.jpg');
  background: -o-linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-2.jpg');
  background: linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.company__info--text {
  max-width: 740px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 20px;
  background-color: #fff;
  opacity: 0.8;
}
@media (min-width: 768px) {
  .company__info--text {
    max-width: 680px;
  }
}
@media (min-width: 992px) {
  .company__info--text {
    max-width: 740px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 180px;
    padding-right: 35px;
    font-size: 22px;
  }
}
.company__info--text p {
  margin-bottom: 35px;
  text-align: left;
}
.advantages__wraper {
  text-align: center;
  padding-top: 60px;
  background-image: url('../images/background-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  background-position: 0 350px;
}
@media (min-width: 992px) {
  .advantages__wraper {
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .advantages__wraper {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 14, 13, 0.6)), to(rgba(29, 14, 13, 0.6))), url('../images/background-5.jpg');
    background: -o-linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-5.jpg');
    background: linear-gradient(rgba(29, 14, 13, 0.6), rgba(29, 14, 13, 0.6)), url('../images/background-5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 450px;
    padding-top: 100px;
    padding-bottom: 400px;
  }
}
.advantages__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 70px;
}
@media (min-width: 576px) {
  .advantages__title {
    font-size: 36px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 80px;
  }
}
.card__wraper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.advantages__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-basis: 320px;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
  min-width: -webkit-calc(320px - 40px);
  min-width: calc(320px - 40px);
  padding: 30px;
  margin: 0 20px;
  margin-bottom: 20px;
  border: 1px solid #490000;
  background: rgba(255, 255, 255);
  -webkit-box-shadow: 0px 0px 20px 0px #91514b;
  box-shadow: 0px 0px 20px 0px #91514b;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .advantages__card {
    background: rgba(255, 255, 255, 0.7);
    margin-bottom: 50px;
  }
  .advantages__card:hover {
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 30px 0px #91514b;
    box-shadow: 0px 0px 30px 0px #91514b;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@media (min-width: 1200px) {
  .advantages__card {
    margin-bottom: 0;
  }
}
.card_icon {
  width: 85px;
  height: 85px;
  margin-bottom: 25px;
  border: 2px solid #490000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 33px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.card__title {
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #490000;
}
.card__text {
  text-align: left;
  font-weight: 600;
  font-size: 17px;
}
@media (min-width: 992px) {
  .card__text {
    font-size: 18px;
  }
}
.services__wraper {
  text-align: center;
  padding-top: 50px;
}
@media (min-width: 768px) {
  .services__wraper {
    padding-top: 90px;
  }
}
@media (min-width: 992px) {
  .services__wraper {
    padding-top: 120px;
  }
}
.services__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
}
@media (min-width: 576px) {
  .services__title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
  .services__title {
    margin-bottom: 80px;
  }
}
.services__card {
  max-width: 1024px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
}
.services__card--items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 10px 50px 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px;
  border-bottom: 1px solid #490000;
}
@media (min-width: 768px) {
  .services__card--items {
    margin-bottom: 80px;
  }
}
@media (min-width: 992px) {
  .services__card--items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-bottom: 50px;
  }
}
.services__card--items img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.card__items--cildren {
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: left;
}
@media (min-width: 992px) {
  .card__items--cildren {
    padding-left: 35px;
    padding-right: 35px;
    width: 0;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}
.services__card--title {
  font-size: 22px;
  font-weight: 600;
  padding: 0 10px;
  margin-bottom: 25px;
  padding: 0;
}
.services__card--text {
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 1.4px;
  font-weight: lighter;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .services__card--text {
    font-size: 18px;
  }
}
.services__card--bottom {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #490000;
  background-color: #fff;
  padding: 10px 37px 13px 37px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  outline: none;
  border: 1px solid #490000;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 18px;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .services__card--bottom {
    font-size: 23px;
  }
}
.services__card--bottom:active,
.services__card--bottom:hover {
  color: #fff;
  background-color: #532824;
  text-decoration: none;
}
@media (min-width: 992px) {
  .services__card--bottom:active,
  .services__card--bottom:hover {
    -webkit-box-shadow: 0px 0px 40px 0px #532824;
    box-shadow: 0px 0px 40px 0px #532824;
  }
}
@media (min-width: 768px) {
  .services__card--bottom {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .services__card--bottom {
    font-size: 23px;
    margin-bottom: 0;
  }
}
.work__wraper {
  background-color: #eeeeef;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .work__wraper {
    padding-top: 70px;
    padding-bottom: 60px;
  }
}
@media (min-width: 992px) {
  .work__wraper {
    padding-top: 120px;
    padding-bottom: 80px;
  }
}
.gallery__wraper {
  max-width: 1360px;
  padding: 0 20px 50px 20px;
  margin: 0 auto;
}
.gallery__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.gallery__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .gallery__title {
    font-size: 36px;
  }
}
@media (min-width: 768px) {
  .gallery__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .gallery__title {
    margin-bottom: 70px;
  }
}
.gallery__items {
  min-width: -webkit-calc(320px - 25px);
  min-width: calc(320px - 25px);
  min-height: -webkit-calc(320px - 25px);
  min-height: calc(320px - 25px);
  margin: 10px;
  width: -webkit-calc(100% / 12 * 12 - 20px);
  width: calc(100% / 12 * 12 - 20px);
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px #969696;
  box-shadow: 0px 0px 20px 0px #969696;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
@media (min-width: 768px) {
  .gallery__items {
    margin: 15px;
    width: -webkit-calc(100% / 12 * 6 - 30px);
    width: calc(100% / 12 * 6 - 30px);
  }
}
@media (min-width: 1024px) {
  .gallery__items {
    margin: 15px;
    width: -webkit-calc(100% / 12 * 4 - 30px);
    width: calc(100% / 12 * 4 - 30px);
  }
}
@media (min-width: 768px) {
  .gallery__items:hover {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
  }
}
.gallery__items img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
.gallery__bottom {
  font-size: 20px;
}
.guaranty__wraper {
  text-align: center;
  padding-top: 30px;
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .guaranty__wraper {
    padding-top: 60px;
    background-image: url('/assets/images/men_shoes.png');
    background-repeat: no-repeat;
    background-position: 50% 90%;
    background-size: 90%;
  }
}
@media (min-width: 992px) {
  .guaranty__wraper {
    padding-top: 100px;
    background-size: 70%;
    margin-bottom: 70px;
    height: 800px;
  }
}
.guaranty__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
@media (min-width: 576px) {
  .guaranty__title {
    font-size: 36px;
  }
}
.guaranty__card {
  width: -webkit-calc(100% - 60px);
  width: calc(100% - 60px);
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 15px 30px 15px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 0px 30px 0px rgba(83, 40, 36, 0.8);
  box-shadow: 0px 0px 30px 0px rgba(83, 40, 36, 0.8);
}
@media (min-width: 768px) {
  .guaranty__card {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
    max-width: 650px;
    padding: 50px 30px 50px 30px;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(83, 40, 36, 0.8);
    box-shadow: 0px 0px 30px 0px rgba(83, 40, 36, 0.8);
  }
}
@media (min-width: 992px) {
  .guaranty__card {
    max-width: 750px;
    padding: 75px 60px 100px 60px;
  }
}
.guaranty__card-icon {
  min-width: 240px;
  font-size: 70px;
}
@media (min-width: 768px) {
  .guaranty__card-icon {
    font-size: 86px;
  }
}
.guaranty__text {
  text-align: left;
  font-weight: 600;
  font-size: 17px;
  font-size: 18px;
  letter-spacing: 2.5px;
  text-align: center;
}
@media (min-width: 992px) {
  .guaranty__text {
    font-size: 18px;
  }
}
@media (min-width: 576px) {
  .guaranty__text {
    text-align: left;
    font-size: 19px;
  }
}
.delivery__wraper {
  width: 100%;
}
@media (min-width: 768px) {
  .delivery__wraper {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0.4))), url('../images/background-1.jpg');
    background: -o-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url('../images/background-1.jpg');
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.4)), url('../images/background-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.delivery__card {
  width: 100%;
  margin: 0 auto;
  background-color: #ebebeb;
  padding: 30px 0;
}
@media (min-width: 768px) {
  .delivery__card {
    padding: 50px 0;
    max-width: 650px;
  }
}
@media (min-width: 992px) {
  .delivery__card {
    max-width: 830px;
  }
}
.delivery__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.delivery__title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  padding: 0 25px;
}
@media (min-width: 576px) {
  .delivery__title {
    font-size: 36px;
  }
}
.delivery__icon {
  font-size: 60px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin-left: auto;
  width: 90px;
  height: 90px;
  margin: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .delivery__icon {
    -webkit-box-pack: end;
    -webkit-justify-content: end;
    -ms-flex-pack: end;
    justify-content: end;
    -webkit-box-flex: 0.5;
    -webkit-flex-grow: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
  }
}
.delivery__icon--border {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 90px;
  min-height: 90px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #490000;
}
.delivery__text {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  padding: 0 25px;
  -webkit-flex-basis: 320px;
  -ms-flex-preferred-size: 320px;
  flex-basis: 320px;
  font-size: 18px;
}
@media (min-width: 576px) {
  .delivery__text {
    -webkit-box-flex: 0.5;
    -webkit-flex-grow: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5;
    margin-right: 30px;
  }
}
@media (min-width: 768px) {
  .delivery__text {
    margin-right: 50px;
    margin-bottom: 50px;
  }
}
.kontakt__wraper {
  width: 100%;
  text-align: center;
  padding: 0;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .kontakt__wraper {
    padding-top: 80px;
  }
}
.kontakt__title {
  font-size: 32px;
  font-weight: 600;
}
@media (min-width: 576px) {
  .kontakt__title {
    font-size: 36px;
  }
}
.kontakt__background {
  width: 100%;
  height: 180px;
  background-image: url('../images/background-6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .kontakt__background {
    height: 420px;
  }
}
.kontakt__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #eeeeef;
}
.kontakt__info {
  padding-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 400px;
  -ms-flex-preferred-size: 400px;
  flex-basis: 400px;
  font-size: 22px;
  text-align: left;
  color: #490000;
}
@media (min-width: 576px) {
  .kontakt__info {
    padding-left: 80px;
  }
}
@media (min-width: 768px) {
  .kontakt__info {
    padding-top: 0;
  }
}
@media (min-width: 992px) {
  .kontakt__info {
    -webkit-flex-basis: 580px;
    -ms-flex-preferred-size: 580px;
    flex-basis: 580px;
    padding-top: 0;
    padding-left: 200px;
  }
}
.kontakt__info i {
  display: inline-block;
  font-size: 30px;
  margin-right: 30px;
}
.kontakt__info span {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .kontakt__info span {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}
@media (min-width: 768px) {
  .kontakt__info {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.kontfrt__info--phone {
  color: #490000;
}
.kontakt__info--mail {
  color: #490000;
}
.kontakt__map {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
#wrapMap {
  position: relative;
  cursor: help;
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
}
.mapTitle {
  position: absolute;
  z-index: 1000;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 5px;
  display: none;
  padding: 5px 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
}
.kontakt__map iframe {
  width: 100%;
  height: 400px;
  border: none;
}
.footer__copyright {
  width: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #180b0b;
  color: #fff;
}
@media (min-width: 768px) {
  .footer__copyright {
    padding: 30px 100px;
  }
}
@media (min-width: 992px) {
  .footer__copyright {
    padding: 50px 200px;
  }
}
.footer__copyright a {
  color: #fff;
}
.footer__copyright span:first-child {
  margin-bottom: 20px;
}
@media (min-width: 576px) {
  .footer__copyright span:first-child {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
