<section class="calendar row ">
	<div class="baseblock__content">
		<h2 class="baseblock__content__title">Не готовы платить?</h2>
		<p class="baseblock__content__subtitle">Тогда воспользуйтесь бесплатным онлайн
			поиском свободных мест на нашем сайте</p>
		<p class="baseblock__content__text">С <a href="#" class="decor__link">Visrd.Live</a> легко записаться
			самостоятельно: система проверяет информацию
			каждые 9 секунд и мгновенно оповестит вас о наличии мест.</p>
	</div>
	<div class="baseblock__img">
		<img class="calendar__img" src="./assets/images/calendar-1.png" alt="картинка">
	</div>
</section>