<footer>
	<div class="wrapper">
		<div class="footer__row">
			<div class="link__social">
				<img src="./assets/images/icon-10.svg" alt="иконка">
				<a href="#">Москва, ул. Новодмитровская, 4А</a>
			</div>
			<div class="link__social">
				<img src="./assets/images/icon-11.svg" alt="иконка">
				<a href="#">+7 (495) 152-55-45</a>
			</div>
			<div class="link__social">
				<img src="./assets/images/icon-12.svg" alt="иконка">
				<a href="#">visrd@support.com</a>
			</div>
			<div class="link__social">
				<img src="./assets/images/icon-13.svg" alt="иконка">
				<a href="#">Telegram bot</a>
			</div>
		</div>
	</div>
</footer>