<section class="forms row" id="forms">
	<h2 class="baseblock__content__title forms__title">Запись на
		собеседование</h2>
	<div class="forms__wraper">
		<form action="#" class="forms__wrap">
			<div class="forms__items item--1">
				<label for="name">ФИО</label>
				<input type="text" id="name">
			</div>
			<div class="forms__items item--2">
				<label for="phone">Телефон</label>
				<input type="text" id="phone" placeholder="+7">
			</div>
			<div class="forms__items item--3">
				<label for="email">Эл. почта</label>
				<input type="email" id="email">
			</div>
			<div class="forms__items item--4">
				<label for="login">Логин на сайте посольства</label>
				<input type="text" id="login">
			</div>
			<div class="forms__items item--5">
				<label for="password">Пароль на сайте посольства</label>
				<input type="password" id="password">
			</div>
			<div class="forms__items item--6">
				<label for="date">Удобная дата</label>
				<input type="date" id="date" min="2020-05-29">
			</div>
			<div class="checkbox__wrapper forms__checkbox--custom item--7">
				<input type="checkbox" id="turbo">
				<label for="turbo" id="turbo__label">Включить Турборежим</label>
			</div>
			<div class="forms__sum item--8"><span>Сумма к оплате: </span><span class="cost">7450</span> Р. </div>
			<button class="button forms__button item--9">Оплатить запись</button>
			<div class="forms__items forms__checkbox item--10">
				<input type="checkbox" id="sms">
				<label for="sms">Получать SMS-уведомления </label>
			</div>
			<p class="forms__terms item--11">После оплаты на указанный номер придет SMS с кассовым чеком и
				подтверждением вашей
				подписки. Нажимая
				«Оплатить», я принимаю условия пользовательского соглашения, положения о защите персональных данных
				и даю свое согласие на обработку персональных данных.</p>
		</form>
	</div>
</section>