<header class="header row">
	<div class="header__nav">
		<div class="header__nav__logo"><img class="logo__img" src="./assets/images/logo.svg" alt="логотип"></div>
		<div class="header__nav__phone">
			<a href="#">+7 (495) 152-55-45</a>
			<div class="button__popup">Обратный звонок</div>
		</div>
		<div class="header__nav__toggle">
			<!-- <div class="header__nav__logo"><img src="./assets/images/tab.svg" alt="логотип"></div> -->
			<div class="checkbox__wrapper">
				<input type="checkbox" id="answer-1">
				<img src="./assets/images/sun.svg" alt="дневной режим">
				<label for="answer-1" id="label-1"></label>
				<img src="./assets/images/moon.svg" alt="ночной режим">
			</div>
		</div>
	</div>
	<div class="baseblock__content header__content">
		<h2 class="baseblock__content__title header__content__title">Наши люди без визы в США не ездят!</h2>
		<p class="baseblock__content__subtitle header__content__subtitle"><a href="#" class="decor__link">Visrd.me</a> —
			автоматическая
			запись на собеседование в
			Посольство США</p>
		<p class="baseblock__content__text header__content__text">Больше не нужно сутками сидеть у экрана — Visrd
			сам запишет Вас на
			собеседование в автоматическом режиме.</p>
		<a href="#forms" class="header__content__btn button">Оставить заявку</a>
	</div>
	<div class="baseblock__img header__img">
		<img src="assets/images/illustration1.png" alt="картинка">
	</div>
</header>