<div class="popup__consultation" data-modal>
	<div class="popup__content">
		<button class="popup__close"></button>
		<h4>Обратный звонок</h4>
		<div class="popup__form">
			<form class="popup__wrap" action=#>
				<div class="popup__items">
					<label for="popup__name">Ваше имя</label>
					<input type="text" id="popup__name">
				</div>
				<div class="popup__items">
					<label for="popup__phone">Номер телефона</label>
					<input type="text" id="popup__phone" placeholder="+7">
				</div>
				<button class="button popup__button">Заказать звонок</button>
			</form>
		</div>
	</div>
</div>