<section class="questions row">
	<div class="baseblock__content">
		<h2 class="baseblock__content__title">Часто задаваемые
			вопросы</h2>
		<p class="baseblock__content__subtitle accordion__heading ">Могу ли я заходить в свой личный кабинет
			на сайте посольства после оформления услуги?</p>
		<p class="baseblock__content__text accordion__block active__content">Каждому пользователю предоставляется
			ограниченное
			количество попыток
			авторизации на сайте посольства. Если вы будете проверять наличие мест одновременно с нашим сервисом, то это
			приведет к превышению лимита
			и блокировке учетной записи. Будет обидно, если места появятся, а записаться уже невозможно.</p>
		<p class="baseblock__content__subtitle accordion__heading">Утром — деньги, вечером — запись.
			Какие мои гарантии?</p>
		<p class="baseblock__content__text accordion__block">Каждому пользователю предоставляется ограниченное
			количество попыток
			авторизации на сайте посольства. Если вы будете проверять наличие мест одновременно с нашим сервисом, то это
			приведет к превышению лимита
			и блокировке учетной записи. Будет обидно, если места появятся, а записаться уже невозможно.</p>
		<p class="baseblock__content__subtitle accordion__heading">Вы узнаете мой логин и пароль. Это безопасно?</p>
		<p class="baseblock__content__text accordion__block">Каждому пользователю предоставляется ограниченное
			количество попыток
			авторизации на сайте посольства. Если вы будете проверять наличие мест одновременно с нашим сервисом, то это
			приведет к превышению лимита
			и блокировке учетной записи. Будет обидно, если места появятся, а записаться уже невозможно.</p>
	</div>
	<div class="baseblock__img header__img">
		<img src="assets/images/illustration3.png" alt="картинка">
	</div>
</section>