<div class="slider__wrapper">
	<div class="wrapper">
		<div class="slider">
			<div class="slider__row">
				<div class="slider__item">
					<img class="slider__images" src="./assets/images/user.png" alt="user">
					<div class="slider__title">Ольга Бестужева</div>
					<a href="#" class="slider__link">www.facebook.com/olgabest</a>
					<p class="slider__text">“Повседневная практика показывает, что укрепление и развитие структуры
						способствует подготовке и реализации соответствующий условий активизации. Повседневная практика
						показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания
						по разработке позиций, занимаемых участниками в отношении поставленных задач.”</p>
				</div>
				<div class="slider__item">
					<img class="slider__images" src="./assets/images/user.png" alt="user">
					<div class="slider__title">Ольга Бестужева</div>
					<a href="#" class="slider__link">www.facebook.com/olgabest</a>
					<p class="slider__text">“Повседневная практика показывает, что укрепление и развитие структуры
						способствует подготовке и реализации соответствующий условий активизации. Повседневная практика
						показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания
						по разработке позиций, занимаемых участниками в отношении поставленных задач.”</p>
				</div>
				<div class="slider__item">
					<img class="slider__images" src="./assets/images/user.png" alt="user">
					<div class="slider__title">Ольга Бестужева</div>
					<a href="#" class="slider__link">www.facebook.com/olgabest</a>
					<p class="slider__text">“Повседневная практика показывает, что укрепление и развитие структуры
						способствует подготовке и реализации соответствующий условий активизации. Повседневная практика
						показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания
						по разработке позиций, занимаемых участниками в отношении поставленных задач.”</p>
				</div>
				<div class="slider__item">
					<img class="slider__images" src="./assets/images/user.png" alt="user">
					<div class="slider__title">Ольга Бестужева</div>
					<a href="#" class="slider__link">www.facebook.com/olgabest</a>
					<p class="slider__text">“Повседневная практика показывает, что укрепление и развитие структуры
						способствует подготовке и реализации соответствующий условий активизации. Повседневная практика
						показывает, что реализация намеченных плановых заданий позволяет выполнять важные задания
						по разработке позиций, занимаемых участниками в отношении поставленных задач.”</p>
				</div>
				<div class="prev">
					<div class="arrow-left"></div>
				</div>
				<div class="next">
					<div class="arrow-right"></div>
				</div>
				<div class="slider__dots">
					<div class="dot dot__active"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
				</div>
			</div>

		</div>
	</div>
</div>