<section class="statistics row">
	<h2 class="baseblock__content__title statistics__title">Статистика мест<br>
		на собеседование</h2>
	<div class="table__toggle table__toggle--active">Москва</div>
	<div class="table__toggle">Екатеринбург</div>
	<div class="table table--1  fade">
		<div class="table__title table__title--1">Москва</div>
		<div class="table__row table__date"><img src="./assets/images/calendar-2.svg" alt="calendar">Дата</div>
		<div class="table__row table__date"><img src="./assets/images/clock-2.svg" alt="clock">Время</div>
		<div class="table__row">27.02.2020</div>
		<div class="table__row">10:46 - 10:56</div>
		<div class="table__row">26.02.2020</div>
		<div class="table__row">16:31 - 16:32</div>
		<div class="table__row">26.02.2020</div>
		<div class="table__row">16:10 - 16:23</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:28 - 14:33</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:26 - 14:34</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:21 - 14:46</div>
		<div class="table__row">18.02.2020</div>
		<div class="table__row">09:49 - 09:50</div>
		<div class="table__row">12.02.2020</div>
		<div class="table__row">11:10 - 11:12</div>
		<div class="table__row">11.02.2020</div>
		<div class="table__row">16:27 - 16:29</div>
		<div class="table__row">07.02.2020</div>
		<div class="table__row">17:13 - 17:18</div>
	</div>
	<div class="table table--2  fade">
		<div class="table__title table__title--2">Екатеринбург</div>
		<div class="table__row table__date"><img src="./assets/images/calendar-2.svg" alt="calendar">Дата</div>
		<div class="table__row table__date"><img src="./assets/images/clock-2.svg" alt="clock">Время</div>
		<div class="table__row">20.02.2020</div>
		<div class="table__row">10:46 - 10:56</div>
		<div class="table__row">26.02.2020</div>
		<div class="table__row">16:31 - 16:32</div>
		<div class="table__row">26.02.2020</div>
		<div class="table__row">16:10 - 16:23</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:28 - 14:33</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:26 - 14:34</div>
		<div class="table__row">19.02.2020</div>
		<div class="table__row">14:21 - 14:46</div>
		<div class="table__row">18.02.2020</div>
		<div class="table__row">09:49 - 09:50</div>
		<div class="table__row">12.02.2020</div>
		<div class="table__row">11:10 - 11:12</div>
		<div class="table__row">11.02.2020</div>
		<div class="table__row">16:27 - 16:29</div>
		<div class="table__row">07.02.2020</div>
		<div class="table__row">17:13 - 17:18</div>
	</div>
	<span class="notation">*Указаны собеседования на B1/B2</span>
</section>