<section class="work row">
	<div class="baseblock__content">
		<h2 class="baseblock__content__title">Как это работает?</h2>
		<p class="baseblock__content__subtitle"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="12" cy="12" r="12" fill="#FF7262" fill-opacity=".12" />
				<path
					d="M13.101 12l3.74-3.739a.544.544 0 000-.773l-.328-.328a.542.542 0 00-.387-.16.542.542 0 00-.387.16L12 10.9 8.261 7.16A.542.542 0 007.874 7a.542.542 0 00-.386.16l-.328.328a.547.547 0 000 .773l3.739 3.74-3.739 3.738a.544.544 0 00-.16.387c0 .146.057.284.16.387l.328.327c.103.103.24.16.386.16a.542.542 0 00.387-.16l3.74-3.739 3.738 3.74c.103.102.24.159.387.159a.543.543 0 00.386-.16l.328-.327a.544.544 0 00.16-.387.544.544 0 00-.16-.387L13.101 12z"
					fill="#FF7262" /></svg>Самостоятельная запись:</p>
		<p class="baseblock__content__text">Долго и утомительно. Среднее время записи и ожидания встречи
			с консулом США — от двух до шести месяцев. Приходится регулярно заходить в свой аккаунт на сайте
			посольства (но не более 5 раз
			в день, иначе его заблокируют) и отслеживать наличие свободных мест, которые появятся неизвестно когда.
		</p>
		<p class="baseblock__content__subtitle"><svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="12" cy="12" r="12" fill="#70E1C6" fill-opacity=".18" />
				<path
					d="M17.808 8.548l-.393-.393a.651.651 0 00-.464-.191.651.651 0 00-.464.191l-5.523 5.523-3.451-3.45a.652.652 0 00-.464-.192.652.652 0 00-.464.191l-.393.393a.653.653 0 00-.192.465c0 .175.068.34.192.464l3.896 3.896a.15.15 0 00.017.02l.393.387a.648.648 0 00.465.184h.002c.176 0 .341-.061.464-.184l.394-.39.015-.017 5.97-5.97a.655.655 0 000-.927z"
					fill="#70E1C6" /></svg>Запись с Visrd:</p>
		<p class="baseblock__content__text">Быстрый поиск свободных мест и автоматическая запись
			на собеседование. Всю работу сделает Visrd, вам нужно только указать данные для авторизации на сайте
			посольства и оплатить услугу. Предоставляя сервису логин и пароль от личного кабинета,
			вы не рискуете безопасностью данных — они понадобятся нам только для мониторинга свободных мест и
			автоматической записи.</p>
		<a href="#forms" class="button">Оставить заявку</a>
	</div>
	<div class="baseblock__img header__img">
		<img src="assets/images/illustration2.png" alt="картинка">
	</div>
</section>