html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	// position: relative;
}

body {
	margin: 0 auto;
	position: relative;
	font-family: @font-family;
	font-weight: normal;
	font-style: normal;
	background-color: #fff;
	color: #000;
	margin: 0;
	padding: 0;
	font-size: 18px;
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
	// max-width: 100%;
	// height: auto;
}

.wrapper {
	.wrapper();
}

.wrapper_full {
	.wrapper-full();
}

.row {
	.row-flex();
	justify-content: center;
}

.col_full {
	.col();
	.size(12);
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.hidden {
	overflow: hidden;
}

// img {
// 	display: block;
// 	max-width: 100%;
// 	height: auto;
// }

// =================прогрес-бар===========================
.progress-container {
	width: 100%;
	height: 2px;
}


.progress-bar {
	height: 2px;
	background: linear-gradient(to right, #f7a145, #fbc388);
	width: 0%;
}

//=========================================================

//==========================кнопка в вверх=================
.pageup {
	opacity: 0;
	width: 43px;
	height: 43px;
	position: fixed;
	bottom: 50px;
	right: 5%;
	z-index: 30;
	cursor: pointer;
	transition: 1s all;
	fill: @accent-color;
}

//======================================================