{# Доп. переменные #}
{% set title = "Древесина и Лес" %}
{% set description = "Древесина и Лес" %}
{% set keywords = "Древесина и Лес" %}
{% set canonical = "https://***.**/" %}

{# Шаблон по умолчанию #}
{% extends  "./layouts/default.njk" %}


{# Блок контент #}
{% block content %}
{% include "./partials/header.njk" %}
{% include "./partials/slider-home.njk" %}
{% include "./partials/advantage-home.njk" %}
{% include "./partials/about-home.njk" %}
{% include "./partials/goods-home.njk" %}
{% include "./partials/footer.njk" %}
{% endblock %}