/*Modals*/
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 988;
	background-color: rgba(0, 0, 0, 0.5);
}


// .overlay {
// 	display: none;
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	height: 100%;
// 	z-index: 988;
// 	background-color: rgba(0, 0, 0, 0.7);
// 	opacity: 1;

// }
.popup__content,
.popup__engineer__content,
.popup__calc__end__content {
	/* display: none; */
	min-width: 300px;
	max-width: 500px;
	min-height: 300px;
	padding: 30px 15px;
	border-radius: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 18px;
	text-align: center;
	background-image: linear-gradient(to top, #2052c9, #21a5dd);

	p {
		margin-bottom: 15px;
	}

	.lg-block( {
			padding: 50px 20px;
			font-size: 22px;

			p {
				margin-bottom: 30px;
			}
		}

	)
}

.popup__social {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;

	li {
		list-style-type: none;
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}

	svg {
		width: 40px;
		.lg(width, 45px);
	}
}

.popup__close {
	position: absolute;
	cursor: pointer;
	border: none;
	font: inherit;
	color: inherit;
	outline: none;
	background-color: transparent;
	display: inline-block;
	position: fixed;
	top: 15px;
	right: 15px;
	z-index: 30;
	width: 30px;
	height: 30px;
	transition: @transition;

	&:hover,
	&:active,
	&:focus {
		outline: none;

		.popup__close__lines::before,
		.popup__close__lines::after {
			background-color: #e2e2e2;
		}
	}
}

.popup__close__lines,
.popup__close__lines::before,
.popup__close__lines::after {
	display: inline-block;
	position: absolute;
	// width: 40px;
	width: 100%;
	height: 4px;
	background-color: #ffffff;
}

.popup__close__lines {
	background-color: transparent;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.popup__close__lines::before {
	content: '';
	top: -12px;
	left: 0;
	top: 0;
	transform: rotate(45deg);
}

.popup__close__lines::after {
	content: '';
	top: 12px;
	left: 0;
	top: 0;
	transform: rotate(-45deg);
}